{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <span class="govuk-caption-l">Energy supply and storage <!--(section 3 of 11)--></span>

      <h1 class="govuk-heading-l">Types of energy supply and energy storage</h1>

      <form class="form" action="/questions/ext-features/structural-type" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        {{ govukCheckboxes({
          name: "waste",
          fieldset: {
            legend: {
              text: "What types of energy supplies and energy storage are used in this section?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "carcasses",
              text: "District or communal heating"
            },
            {
              value: "mines",
              text: "Eco boiler"
            },
            {
              value: "carcasses",
              text: "Hydrogen batteries"
            },
            {
              value: "mines",
              text: "Lithium ion batteries"
            },
            {
              value: "mines",
              text: "Mains electricity supply"
            },
            {
              value: "mines",
              text: "Mains gas supply"
            },
            {
              value: "mines",
              text: "Oil"
            },
            {
              value: "carcasses",
              text: "On site generation",
              hint: {
                text: "This could be solar panels, wind turbines or air source heat pumps"
              }
            },
            {
              value: "mines",
              text: "Other"
            }
          ]
        }) }}
        
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>

    <div class="govuk-grid-column-one-third">
      <span class="govuk-caption-m">
        <strong>{{ data['building-name'] }}</strong>
        <br>{{ data['building-address-line-1'] }}
        <br>{{ data['building-address-line-2'] }}
        <br>{{ data['building-postcode'] }}
      </span>
    </div>
    
  </div>

{% endblock %}
