{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Your contact details</span>

      <h1 class="govuk-heading-xl">Are you the principal accountable person?</h1>

      <form class="form" action="/check-answers-contact-details" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "are-you-the-pap",
          value: data['are-you-the-pap'],
          fieldset: {
            legend: {
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes, I am the principal accountable person"
            },
            {
              value: "No",
              text: "No, I am an agent acting on behalf of the principal accountable person"
            }
          ]
        }) }}

        {% from "govuk/components/details/macro.njk" import govukDetails %}
        {{ govukDetails({
          summaryText: "Help with principal accountable person",
          text: "The principal accountable person is the sole person responsible for the building."
        }) }}

        {% from "govuk/components/details/macro.njk" import govukDetails %}
        {{ govukDetails({
          summaryText: "Help with agent",
          text: "An agent is someone who has written permission to act on behalf of the principal accountable person."
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

      <p><a href="#">Save and exit this application</a></p>

    </div>
  </div>

{% endblock %}
