{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Verify your email address</h1>

      <p>We have sent a security code to: <strong>{{ data['email'] }}</strong>.</p>

      <p>If you cannot find the email, please check your junk or spam folders.</p>

      <p>If you did not get an email, or wish to use a different email address, you can <a href="/questions/contact-details/email">resend the email or enter a different email address</a>.</p>

      <form class="form" action="/questions/contact-details/name" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukInput({
          label: {
            text: "Security code",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          id: "security-code",
          name: "security-code"
        }) }}

        {% from "govuk/components/button/macro.njk" import govukButton %}
        {{ govukButton({
          text: "Launch emails",
          href: "/security-code-email",
          classes: "govuk-button--secondary"
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
