{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Verify your email address</h1>

      <p>To secure your application and allow you to return to it later, we need to verify your email address. To do this, we will send you a security code.</p>

      <p>If you do not have an email address, <a href="/contact">contact us</a> to apply for building registration.</p>

      <form class="form" action="/questions/contact-details/email-code" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukInput({
          label: {
            text: "Enter your email address",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          id: "email",
          name: "email",
          value: data['email']
        }) }}

        <button class="govuk-button" data-module="govuk-button">Send verification email</button>

      </form>

    </div>
  </div>

{% endblock %}
