{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service in development - do not take anything you see here as guidance.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Your contact details</span>

      <h1 class="govuk-heading-l">Your telephone number</h1>

      <p>We will only use this if we need to check anything you have recorded in this application.</p>

      <form class="form" action="/questions/contact-details/email" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukInput({
          label: {
            text: "Telephone or mobile number",
            classes: "govuk-label--s",
            isPageHeading: true
          },
          hint: {
            text: "Enter a UK telephone or mobile number with or without spaces. For example, '012 3456 7890' or '+447654321098'."
          },
          id: "phone",
          name: "phone",
          value: data['phone']
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
