{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Structural type and materials <!--(section 4 of 11)--></span>

      <h1 class="govuk-heading-l">What type of structure is {{ data['building-name'] }}?</h1>

      <p>You should be able to get this information from the latest external wall survey or fire risk assessment.</p>

      <p>This is not a complete list. It includes only the structure types we need to know about.
      </p>

      <form class="form" action="/questions/ext-features/structural-type-modular" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        {{ govukCheckboxes({
          name: "countries",
          fieldset: {
            legend: {
              text: "Structure type",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: [

            {
              value: "portugal",
              text: "Concrete large panel system from the 1960s"
            },
            {
              value: "portugal",
              text: "Concrete large panel system from 1970 onwards"
            },
            {
              value: "portugal",
              text: "Other concrete frame"
            },
            {
              value: "portugal",
              text: "Load-bearing masonry"
            },
            {
              value: "spain",
              text: "Mass timber construction"
            },
            {
              value: "spain",
              text: "Other timber frame"
            },
            {
              value: "spain",
              text: "Modular"
            },
            {
              value: "spain",
              text: "Steel frame"
            },
            {
              divider: "or"
            },
            {
              value: "none",
              text: "None of these",
              behaviour: "exclusive"
            }
          ]
        }) }}
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>

    <div class="govuk-grid-column-one-third">
      <span class="govuk-caption-m">
        <strong>{{ data['building-name'] }}</strong>
        <br>{{ data['building-address-line-1'] }}
        <br>{{ data['building-address-line-2'] }}
        <br>{{ data['building-postcode'] }}
      </span>
    </div>
    
  </div>

{% endblock %}
