{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Structure type of 
        {% if data['more-than-one-block'] === "Multiple independent sections" %}
        {{ data['block-name'] }}
        {% endif %}
        {% if data['more-than-one-block'] === "Single independent section" %}
        {{ data['building-name'] }}
        {% endif %}</h1>

      <p>You should be able to get this information from the latest external wall survey or fire risk assessment.</p>

      <p>This is not a complete list. It includes only the structure types we need to know about.
      </p>

      <form class="form" action="/questions/ext-features/structural-type-modular" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        {{ govukCheckboxes({
          name: "countries",
          fieldset: {
            legend: {
              text: "What is the type of structure?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: [

            {
              value: "portugal",
              text: "Concrete large panel system from the 1960s"
            },
            {
              value: "portugal",
              text: "Concrete large panel system from 1970 onwards"
            },
            {
              value: "portugal",
              text: "Other concrete frame"
            },
            {
              value: "portugal",
              text: "Load-bearing masonry"
            },
            {
              value: "spain",
              text: "Mass timber construction"
            },
            {
              value: "spain",
              text: "Other timber frame"
            },
            {
              value: "spain",
              text: "Modular"
            },
            {
              value: "spain",
              text: "Steel frame"
            },
            {
              divider: "or"
            },
            {
              value: "none",
              text: "None of these",
              behaviour: "exclusive"
            }
          ]
        }) }}
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>


      <p><a href="/kbi-task-list-return">Save and come back later</a></p>

      </form>

    </div>
    
  </div>

{% endblock %}
