{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-!-padding-bottom-5">
        <span class="govuk-caption-m">
          <strong>Acme House</strong>, Acme Road, London, SW32 8KL
        </span>
      </div>

      <span class="govuk-caption-xl">Structural type and materials <!--(section 4 of 11)--></span>

      <form class="form" action="/questions/ext-features/structural-type-modular" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        {{ govukCheckboxes({
          name: "countries",
          fieldset: {
            legend: {
              text: "What type of structure is the building?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: [

            {
              value: "portugal",
              text: "Concrete large panel system from the 1960s"
            },
            {
              value: "portugal",
              text: "Concrete large panel system from 1970 onwards"
            },
            {
              value: "portugal",
              text: "Other concrete frame"
            },
            {
              value: "portugal",
              text: "Load-bearing masonry"
            },
            {
              value: "spain",
              text: "Mass timber construction"
            },
            {
              value: "spain",
              text: "Other timber frame"
            },
            {
              value: "spain",
              text: "Modular"
            },
            {
              value: "spain",
              text: "Steel frame"
            },
            {
              divider: "or"
            },
            {
              value: "none",
              text: "None of these",
              behaviour: "exclusive"
            }
          ]
        }) }}
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
