{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service in development - do not take anything you see here as guidance.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Other accountable persons</span>

      <h1 class="govuk-heading-l">Add another accountable person</h1>

      <p>If anyone other than 
        <strong>
        {{ data['pap-org-name'] }}

        {{ data['pap-individual-first-name'] }} {{ data['pap-individual-last-name'] }}

        {{ data['ap-org-name'] }}
        {{ data['ap-individual-first-name'] }} {{ data['ap-individual-last-name'] }}
        </strong> 
        is accountable for any parts of the building then you should tell us about them here.</p>

      <form class="form" action="/add-ap-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "add-another-ap",
          value: data['add-another-ap'],
          fieldset: {
            legend: {
              text: "Add another accountable person?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

      <p><a href="#">Save and exit this application</a></p>

    </div>
  </div>

{% endblock %}
