{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service in development - do not take anything you see here as guidance.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Other accountable persons</span>

      <h1 class="govuk-heading-l">Add another accountable person</h1>

      <p>An accountable person is an organisation or individual who is accountable for the safety of part of the building.</p>

      <p class="govuk-body">You have told us that           <strong>
        {{ data['pap-org-name'] }}
        {{ data['pap-individual-first-name'] }}
        {{ data['pap-individual-last-name'] }}
      </strong> is the principal accountable person.</p>

      <p class="govuk-body">You have also told us about these accountable persons:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <strong>
            {{ data['ap-org-name'] }}
            {{ data['ap-individual-first-name'] }}
            {{ data['ap-individual-last-name'] }}
          </strong>
        </li>
      </ul>

      <form class="form" action="/add-ap-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "add-another-ap",
          value: data['add-another-ap'],
          fieldset: {
            legend: {
              text: "Is anyone else accountable for any residential part of [building name]?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "We do not need to know about responsible persons, like those under the Fire Safety Order, unless they are also accountable."
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

      <p><a href="#">Save and come back later</a></p>

    </div>
  </div>

{% endblock %}
