{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service in development - do not take anything you see here as guidance.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Other accountable persons</span>

      <h1 class="govuk-heading-l">What is [person or organisations name] {{ data['ap-org-name'] }}{{ data['ap-individual-first-name'] }}{{ data['ap-individual-last-name'] }} accountable for?</h1>

      <form class="form" action="/ap-areas-answer" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        {{ govukCheckboxes({
          name: "first-block-parts",
          fieldset: {
            legend: {
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "External walls",
              text: "External walls",
              hint: {
                text: "This includes the roof."
              }
            },
            {
              value: "Internal common parts",
              text: "Internal common parts",
              hint: {
                text: "This includes all internal communal areas like stairs, lobbies, corridors, shared amenity areas, internal walls and floors."
              }
            },
            {
              value: "Maintenance of plant and equipment",
              text: "Maintenance of plant and equipment",
              hint: {
                text: "This includes all utilities (like gas, electricity and water), fire alarm, sprinklers, and other fire precautions."
              }
            },
            {
              value: "Any other areas",
              text: "Any other areas",
              hint: {
                text: "This could be car parking, fire engine access, waste disposal and other storage areas."
              }
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

      <p><a href="#">Save and come back later</a></p>

    </div>
  </div>

{% endblock %}
