{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service in development - do not take anything you see here as guidance.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Other accountable persons</span>

      <h1 class="govuk-heading-l">{{ data['ap-org-named-contact-first-name'] }} {{ data['ap-org-named-contact-last-name'] }}'s contact details</h1>

      <form class="form" action="/questions/aps/add-ap" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukInput({
          label: {
            text: "Email address"
          },
          id: "ap-org-named-contact-email",
          name: "ap-org-named-contact-email",
          value: data['ap-org-named-contact-email']
        }) }}

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukInput({
          label: {
            text: "Telephone or mobile number"
          },
          hint: {
            text: "Enter a UK phone number with or without spaces. For example, '012 3456 7890' or '01234567890' or '+44 07654321098'"
          },
          id: "ap-org-named-contact-phone",
          name: "ap-org-named-contact-phone",
          value: data['ap-org-named-contact-phone']
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

      <p><a href="#">Save and come back later</a></p>

    </div>
  </div>

{% endblock %}
