{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service in development - do not take anything you see here as guidance.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Other accountable persons</span>

      <h1 class="govuk-heading-l">Is this accountable person an organisation or an individual?</h1>

      <p>Tell us about one of the accountable persons. You'll be able to add more accountable persons later.</p>

      <form class="form" action="/ap-type-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "ap-type",
          value: data['ap-type'],
          fieldset: {
            legend: {
              text: "This accountable person is",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Organisation",
              text: "An organisation"
            },
            {
              value: "Individual",
              text: "An individual"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

      <p><a href="#">Save and come back later</a></p>

    </div>
  </div>

{% endblock %}
