{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">What strategy do you use to evacuate the residential part of 
        {% if data['more-than-one-block'] === "Multiple independent sections" %}
        {{ data['block-name'] }}
        {% endif %}
        {% if data['more-than-one-block'] === "Single independent section" %}
        {{ data['building-name'] }}
        {% endif %}?</h1>

        <p>You should be able to get this information from the latest fire risk assessment.</p>

      <form class="form" action="/questions/fire/fire-provisions-dwellings" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "where-do-you-live",
          fieldset: {
            legend: {
            }
          },
          items: [
            {
              value: "england",
              text: "Phased"
            },
            {
              value: "wales",
              text: "Progressive horizontal"
            },
            {
              value: "scotland",
              text: "Simultaneous"
            },
            {
              value: "wales",
              text: "Stay put (defend in place)"
            },
            {
              value: "northern-ireland",
              text: "Temporary simultaneous",
              hint: {
                text: "When this changes, you'll need to tell us."
              }
            }
          ]
        }) }}
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

      <p><a href="/kbi-task-list-return">Save and come back later</a></p>

    </div>

  </div>

{% endblock %}
