{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Fire and smoke controls <!--(section 2 of 11)--></span>

      <form class="form" action="/questions/energy-supply-and-storage" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukCheckboxes({
          name: "waste",
          fieldset: {
            legend: {
              text: "Where can you access the smoke detectors?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "carcasses",
              text: "Basement"
            },
            {
              value: "mines",
              text: "Bin store"
            },
            {
              value: "farm",
              text: "Car park"
            },
            {
              value: "mines",
              text: "Shared space with equipment",
              hint: {
                text: "like a utility room, meter room, or shared laundry room"
              }
            },
            {
              value: "mines",
              text: "Shared space with no equipment",
              hint: {
                text: "like a communal lounge"
              }
            },
            {
              value: "farm",
              text: "Rooftop"
            },
            {
              value: "mines",
              text: "Other"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>

    <div class="govuk-grid-column-one-third">
      <span class="govuk-caption-m">
        <strong>{{ data['building-name'] }}</strong>
        <br>{{ data['building-address-line-1'] }}
        <br>{{ data['building-address-line-2'] }}
        <br>{{ data['building-postcode'] }}
      </span>
    </div>

  </div>

{% endblock %}
