{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Where are the [smoke detectors] in 
        {% if data['more-than-one-block'] === "Multiple independent sections" %}
        {{ data['block-name'] }}
        {% endif %}
        {% if data['more-than-one-block'] === "Single independent section" %}
        {{ data['building-name'] }}
        {% endif %}?</h1>

      <form class="form" action="/questions/fire-doors/residential-front-doors" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukCheckboxes({
          name: "waste",
          fieldset: {
            legend: {
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: [
            {
              value: "carcasses",
              text: "Basement"
            },
            {
              value: "mines",
              text: "Bin store"
            },
            {
              value: "farm",
              text: "Car park"
            },
            {
              value: "farm",
              text: "Common balcony"
            },
            {
              value: "farm",
              text: "Common corridor"
            },
            {
              value: "farm",
              text: "Common staircase"
            },
            {
              value: "farm",
              text: "External staircase"
            },
            {
              value: "farm",
              text: "Lobby"
            },
            {
              value: "mines",
              text: "Shared space with equipment",
              hint: {
                text: "like a utility room, meter room, or shared laundry room"
              }
            },
            {
              value: "mines",
              text: "Shared space with no equipment",
              hint: {
                text: "like a communal lounge"
              }
            },
            {
              value: "farm",
              text: "Rooftop"
            },
            {
              value: "mines",
              text: "Other"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

      <p><a href="/kbi-task-list-return">Save and come back later</a></p>

    </div>

  </div>

{% endblock %}
