{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Fire and smoke controls <!--(section 2 of 11)--></span>
      <h1 class="govuk-heading-xl">Fire and smoke control provisions and equipment</h1>
      <p>What fire and smoke control provisions or equipment are in the residential parts of the building?</p>
      <p>Select all that apply</p>
      <form class="form" action="/questions/fire/fire-provisions-location" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        {{ govukCheckboxes({
          name: "waste",
          fieldset: {
            legend: {

            }
          },
          items: [
            {
              value: "carcasses",
              text: "Alarm connected to heat or smoke detection and call points"
            },
            {
              value: "mines",
              text: "Duct dampers"
            },
            {
              value: "farm",
              text: "Fire shutters"
            },
            {
              value: "mines",
              text: "Heat detector heads"
            },
            {
              value: "farm",
              text: "Lifts for firefighters, firefighting or evacuation"
            },
            {
              value: "mines",
              text: "Risers - wet or dry"
            },
            {
              value: "farm",
              text: "Smoke control systems, automatic or manual"
            },
            {
              value: "farm",
              text: "Smoke detector heads"
            },
            {
              value: "farm",
              text: "Sprinklers"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>

    <div class="govuk-grid-column-one-third">
      <span class="govuk-caption-m">
        <strong>{{ data['building-name'] }}</strong>
        <br>{{ data['building-address-line-1'] }}
        <br>{{ data['building-address-line-2'] }}
        <br>{{ data['building-postcode'] }}
      </span>
    </div>

  </div>

{% endblock %}
