{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service in development - do not take anything you see here as guidance.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">High-rise residential structures of {{ data['building-name'] }}</h1>

      <p>So far you have told us about <strong>{{ data['block-name'] }}[structure A]</strong> and <strong>[structure B]</strong>.</p>

      <form class="form" action="/add-block-boolean-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "add-block-boolean",
          id: "add-block-boolean",
          fieldset: {
            legend: {
              text: "Add another high-rise residential structure?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

        <p><a href="/register-task-list">Save and come back later</a></p>

      </form>

    </div>
  </div>

{% endblock %}
