{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service in development - do not take anything you see here as guidance.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Tell us the name of one of the high-rise residential structures in {{ data['building-name'] }}</h1>

      <p>This will help you to identify which structure we are asking you about later on.</p>

      <p>[So far you have told us about <strong>[first structure's name]</strong>, <strong>[second structure's name]</strong> and <strong>[third structure's name]</strong>.]</p>

      <form class="form" action="/questions/blocks/floors-above" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukInput({
          label: {
            text: "First structure's name",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          id: "block-name",
          name: "block-name",
          value: data['block-name']
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
