{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service in development - do not take anything you see here as guidance.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">{{ data['block-name'] }}</span>

      <form class="form" action="/questions/blocks/completion-certificate-issuer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "completion-year",
          value: data['completion-year'],
          fieldset: {
            legend: {
              text: "When was the section completed?",
              classes: "govuk-label--l"
            }
          },
          hint: {
            text: "If you're not sure, tell us your best estimate."
          },
          items: [
            {
              value: "Before 1900",
              text: "Before 1900"
            },
            {
              value: "1901 to 1955",
              text: "1901 to 1955"
            },
            {
              value: "1956 to 1969",
              text: "1956 to 1969"
            },
            {
              value: "1970 to 1984",
              text: "1970 to 1984"
            },
            {
              value: "1985 to 2000",
              text: "1985 to 2000"
            },
            {
              value: "2001 to 2006",
              text: "2001 to 2006"
            },
            {
              value: "2007 to 2018",
              text: "2007 to 2018"
            },
            {
              value: "2019 to 2022",
              text: "2019 to 2022"
            },
            {
              value: "2023 onwards",
              text: "2023 onwards"
            },
            {
              divider: "or"
            },
            {
              value: "It has not yet been completed",
              text: "It has not yet been completed"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

      <p><a href="#">Save and come back later</a></p>

    </div>
  </div>

{% endblock %}
