{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service in development - do not take anything you see here as guidance.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Building details of {{ data['building-name'] }}</span>
      
      <h1 class="govuk-heading-l">Completion certificate issuer for 
        {% if data['more-than-one-block'] === "Multiple independent sections" %}
        {{ data['block-name'] }}
        {% endif %}
        {% if data['more-than-one-block'] === "Single independent section" %}
        {{ data['building-name'] }}
        {% endif %}
         (optional)</h1>

      <form class="form" action="/questions/blocks/completion-certificate-reference-number" method="post">

        {% from "govuk/components/details/macro.njk" import govukDetails %}
        {{ govukDetails({
          summaryText: "Help with completion certificate",
          text: "A building control body or authority issues a completion certificate as proof that the building work has been inspected and complies with building regulations."
        }) }}

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukInput({
          label: {
            text: "Issuer name (optional)",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "Enter the full name of the building control body or authority that issued the completion certificate. If you do not have access to the completion certificate, leave this blank."
          },
          id: "completion-certificate-issuer",
          name: "completion-certificate-issuer",
          value: data['completion-certificate-issuer']
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

      <p><a href="#">Save and come back later</a></p>

    </div>
  </div>

{% endblock %}
