{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service in development - do not take anything you see here as guidance.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">First block in the building</span>

      <form class="form" action="/questions/blocks/best-known-address" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukInput({
          label: {
            text: "Completion certificate number (optional)",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "This should be on the completion certificate. If you don't have a completion certificate, leave this blank."
          },
          id: "completion-certificate-reference-number",
          name: "completion-certificate-reference-number",
          value: data['completion-certificate-reference-number']
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

      <p><a href="#">Save and come back later</a></p>

    </div>
  </div>

{% endblock %}
