{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service in development - do not take anything you see here as guidance.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">When was 
        {% if data['more-than-one-block'] === "Multiple independent sections" %}
        {{ data['block-name'] }}
        {% endif %}
        {% if data['more-than-one-block'] === "Single independent section" %}
        {{ data['building-name'] }}
        {% endif %}
        originally built?</h1>

        <p>This is the year when it was originally ready for people to live in it.</p>

      <form class="form" action="/completion-year-answer" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {% set exactYearHtml %}
        {{ govukInput({
          label: {
            text: "Exact year",
            classes: "govuk-label--s",
            isPageHeading: true
          },
          hint: {
            text: "For example '1983'."
          },
          id: "completion-year",
          name: "completion-year",
          classes: "govuk-input--width-4"
        }) }}
        {% endset -%}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "completion-year-radio",
          fieldset: {
            legend: {
            }
          },
          items: [
            {
              value: "Yes, I know the exact year",
              text: "I know the exact year",
              conditional: {
                html: exactYearHtml
              }
            },
            {
              value: "No, I don't know the exact year",
              text: "I do not know the exact year",
              hint: {
                text: "Select this option if you know a general range"
              }
            },
            {
              divider: "or"
            },
            {
              value: "It has not yet been completed",
              text: "Not yet built"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

      <p><a href="#">Save and come back later</a></p>

    </div>
  </div>

{% endblock %}
