{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Provide basic information about the first block</span>

      <h1 class="govuk-heading-xl">Number of floors above ground level</h1>

      <p>Count all floors from ground level to the top of the block.</p>

      <p>Include:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>any floors at ground level</li>
        <li>mezzanine floors that are at least half the largest floor area you have counted in the rest of the block</li>
      </ul>
      <p>Do not count:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>floors below ground level</li>
        <li>floors used only for machinery or plant rooms</li>
        <li>the roof</li>
      </ul>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with ground level
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>Ground level is the level of land immediately next to the block. If the block is on uneven land, count floors from the lowest part of the land immediately next to the block.</p>
          <p>Any ceiling below that level is below ground level.</p>
        </div>
      </details>

      <form class="form" action="/questions/blocks/height" method="post">

        {{ govukInput({
          label: {
            text: "Enter the number of floors above ground level",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-3",
          id: "number-of-floors",
          name: "number-of-floors",
          value: data['number-of-floors']
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

      <p><a href="#">Save and exit this application</a></p>

    </div>
  </div>

{% endblock %}
