{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service in development - do not take anything you see here as guidance.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Count the number of sections in {{ data['building-name'] }}</h1>

      <p>A section is a collection of units in the building that share a main entrance, or can only be accessed by crossing a party wall, walkway, shared lobby or basement.</p>

      <p>Count each independent structure, like a tower block.</p>

      <p>Count each collection of residential units that can be accessed from the same main entrance or main entrances. For example, floors in the building that can only be accessed by their own lift or staircase.</p>

      <p>Count each collection of residential units that can only be accessed by crossing a party wall, walkway, shared lobby or basement.</p>

      <p>Do not count each residential unit as its own section.</p>

      <p>Do not count collections of non residential units.</p>

      <div class="govuk-inset-text">
        <p>For example, a simple tower, in which all of the flats can be accessed from the same main entrances is not made up of multiple sections.</p>
        <p>Two tower blocks that share a basement containing one or more residential units would be made up of two sections.</p>
      </div>

      <form class="form" action="/more-than-one-block-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "more-than-one-block",
          id: "more-than-one-block",
          value: data['more-than-one-block'],
          fieldset: {
            legend: {
              text: "Is there more than one section?",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
          {
            value: "Multiple independent sections",
            text: "Yes"
          },
          {
            value: "Single independent section",
            text: "No"
          }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

      <p><a href="#">Save and come back later</a></p>

    </div>
  </div>

{% endblock %}
