{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service in development - do not take anything you see here as guidance.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Is {{ data['building-name'] }} a single high-rise residential structure?</h1>

      <p>A high-rise residential building can contain 1 or more high-rise residential structures.</p>

      <!--
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with high-rise residential structure
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>A high-rise residential structure has:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>at least 7 floors or is at least 18 metres in height</li>
            <li>at least 2 residential units</li>
          </ul>
        </div>
      </details>
      -->

      <div class="govuk-inset-text">
        <p>For example, The Gherkin in London is a single high-rise residential structure.</p>
        <p>Deansgate Square in Manchester is made up of four high-rise residential structures.</p>
      </div>

      <form class="form" action="/more-than-one-block-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "more-than-one-block",
          id: "more-than-one-block",
          value: data['more-than-one-block'],
          fieldset: {
            legend: {
              text: "Is it a single structure?",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
          {
            value: "Single independent section",
            text: "Yes"
          },
          {
            value: "Multiple independent sections",
            text: "No"
          }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

      <p><a href="#">Save and come back later</a></p>

    </div>
  </div>

{% endblock %}
