{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Provide basic information about the first block</span>

      <h1 class="govuk-heading-xl">Add another address or postcode for the block</h1>

      <p>If there are further addresses for this block, you can add them later.</p>

      <p>The address must be in England.</p>

      <form class="form" action="/questions/blocks/other-name-address-postcode-boolean" method="post">

        {{ govukInput({
          label: {
            text: "Address line 1 (optional)",
            classes: "govuk-label--s"
          },
          id: "other-address-line-1",
          name: "other-address-line-1",
          value: data['other-address-line-1']
        }) }}

        {{ govukInput({
          label: {
            text: "Address line 2 (optional)",
            classes: "govuk-label--s"
          },
          id: "other-address-line-2",
          name: "other-address-line-2",
          value: data['other-address-line-2']
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode (optional)",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-10",
          id: "other-postcode-manual",
          name: "other-postcode-manual",
          value: data['other-postcode-manual']
        }) }}

        <p><a href="https://www.royalmail.com/find-a-postcode">Find a postcode on Royal Mail's postcode finder</a></p>

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

      <p><a href="#">Save and exit this application</a></p>

    </div>
  </div>

{% endblock %}
