{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Principal accountable person</span>

      <h1 class="govuk-heading-xl">Who is the principal accountable person?</h1>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with principal accountable person
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>The principal accountable person is the person or organisation who owns or has accountability for the building.</p>
          <p>If the building has more than one accountable person, then the accountable person for the external common parts of the building will be the principal accountable person.</p>
        </div>
      </details>

      <p>You'll be able to add other accountable persons later.</p>

      <form class="form" action="/pap-type-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}

        {% set otherHtml %}
        {{ govukInput({
          id: "other-pap-type-org",
          name: "other-pap-type-org",
          type: "text",
          spellcheck: false,
          label: {
            text: "What type of organisation is the principle accountable person?"
          }
        }) }}
        {% endset -%}

        {% set orgHtml %}
        {{ govukRadios({
          name: "pap-type-org",
          value: data['pap-type-org'],
          fieldset: {
            legend: {
              text: "The principle accountable person is a:",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Building owner (individual)",
              text: "Building owner (individual)"
            },
            {
              value: "commonhold-association",
              text: "Commonhold association"
            },
            {
              value: "housing-association",
              text: "Housing association or other company operating under section 27 of the Housing Act 1985"
            },
            {
              value: "local-authority",
              text: "Local authority"
            },
            {
              value: "management-company",
              text: "Management company"
            },
            {
              value: "rmc",
              text: "Resident management company (RMC) or orgnaisation"
            },
            {
              value: "rtm",
              text: "Right to manage (RTM) company or orgnaisation"
            },
            {
              value: "other",
              text: "Other",
              conditional: {
                html: otherHtml
              }
            }
          ]
        }) }}
        {% endset -%}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "pap-type",
          fieldset: {
            legend: {
              text: "The principle accountable person is",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Organisation",
              text: "An organisation",
              conditional: {
                html: orgHtml
              }
            },
            {
              value: "Individual",
              text: "An individual"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

      <p><a href="#">Save and exit this application</a></p>

    </div>
  </div>

{% endblock %}
