{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/questions/stairs/staircases" method="post">

        <h1 class="govuk-heading-l">What material covers the largest surface area on  
          {% if data['more-than-one-block'] === "Multiple independent sections" %}
        {{ data['block-name'] }}
        {% endif %}
        {% if data['more-than-one-block'] === "Single independent section" %}
        {{ data['building-name'] }}
        {% endif %}'s roof?
        </h1>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "where-do-you-live",
          fieldset: {
            legend: {

            }
            },
            items: [
            {
              text: "Composite panels"
            },
            {
              text: "Felt - bitumen"
            },
            {
              text: "Felt - other"
            },
            {
              text: "Fibre cement asbestos"
            },
            {
              value: "england",
              text: "Green roof",
              hint: {
                text: "Also known as a living roof or sedum roof"
              }
            },
            {
              text: "Hot or cold roof systems"
            },
            {
              text: "Metal sheet",
              hint: {
                text: "Includes aluminium, zinc or lead"
              }
            },
            {
              text: "Plastic sheet",
              hint: {
                text: "Includes PVC, UPVC, or fibre reinforced plastic"
              }
            },
            {
              text: "Polycarbonate sheet"
            },
            {
              text: "Reinforced autoclaved aerated concrete (RAAC)"
            },
            {
              text: "Rubber"
            },
            {
              text: "Shingles"
            },
            {
              text: "Slate"
            },
            {
              text: "Tiles"
            },
            {
              divider: "or"
            },
            {
              text: "None of these"
            }
          ]
        }) }}
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

      <p><a href="/kbi-task-list-return">Save and come back later</a></p>

    </div>
    
  </div>

{% endblock %}
