{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Check you need to register</span>

      <form class="form" action="/check-answers-eligibility" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "are-people-living-in-the-building",
          value: data['are-people-living-in-the-building'],
          fieldset: {
            legend: {
              text: "Are people living in the building?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No, but the building is ready for people to move in",
              text: "No, but the building is ready for people to move in",
              hint: {
                text: "This could be if the building has been refurbished or is new."
              }
            },
            {
              value: "No and people will not be moving in",
              text: "No and people will not be moving in",
              hint: {
                text: "This would be because everyone has moved out while it is being refurbished or because it is going to be demolished."
              }
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
