{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Check you need to register</span>

      <h1 class="govuk-heading-xl">Building height</h1>

      <p>Measure the building in metres from ground level to the top floor.</p>

      <p>Do not measure:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the roof</li>
        <li>any floor that is only used for machinery or plant rooms</li>
      </ul>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with ground level
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>Ground level is the level of land immediately next to the building. If that land is uneven, it is the lowest part of the land immediately next to the building.</p>
        </div>
      </details>

      <form class="form" action="/questions/eligibility/residential-units" method="post">

        {{ govukInput({
          label: {
            text: "Height in metres",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-4",
          id: "height",
          name: "height",
          suffix: {
            text: "m"
          },
          value: data['height']
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
