{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-!-padding-bottom-5">
        <span class="govuk-caption-m">
          <strong>{{ data['building-name'] }}</strong>
        </span>
      </div>

      <span class="govuk-caption-xl">The building</span>

      <h1 class="govuk-heading-xl">How many blocks are in the building?</h1>

      <form class="form" action="/questions/building/best-known-address" method="post">

        {{ govukInput({
          label: {
          },
          hint: {
            text: "A block is a..."
          },
          classes: "govuk-input--width-3",
          id: "number-of-blocks",
          name: "number-of-blocks",
          value: data['number-of-blocks']
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

      <p><a href="#">Save and exit this application</a></p>

    </div>
  </div>

{% endblock %}
