{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-!-padding-bottom-5">
        <span class="govuk-caption-m">
          <strong>{{ data['building-name'] }}</strong>, {{ data['address-line-1'] }}, {{ data['address-line-2'] }}, {{ data['postcode'] }}
        </span>
      </div>

      <span class="govuk-caption-xl">The building</span>

      <form class="form" action="/check-answers-building" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukInput({
          label: {
            text: "What year was the building completed?",
            classes: "govuk-label--xl",
            isPageHeading: true
          },
          id: "completion-year",
          name: "completion-year",
          classes: "govuk-input--width-4"
        }) }}

        <p>or</p>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% set rangesHtml %}
        {{ govukRadios({
          name: "completion-year",
          value: data['completion-year'],
          fieldset: {
            legend: {
              text: "Select the year range",
              classes: "govuk-label--s"
            }
          },
          items: [
            {
              value: "Before 1955",
              text: "Before 1955"
            },
            {
              value: "1955 to 1964",
              text: "1955 to 1964"
            },
            {
              value: "1965 to 1974",
              text: "1965 to 1974"
            },
            {
              value: "1975 to 1984",
              text: "1975 to 1984"
            },
            {
              value: "1985 to 1994",
              text: "1985 to 1994"
            },
            {
              value: "1995 to 2004",
              text: "1995 to 2004"
            },
            {
              value: "2005 to 2014",
              text: "2005 to 2014"
            },
            {
              value: "2015 to 2023",
              text: "2015 to 2023"
            },
            {
              value: "Not yet completed",
              text: "Not yet completed"
            }
          ]
        }) }}
        {% endset -%}

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        {{ govukCheckboxes({
          name: "completion-year",
          fieldset: {
            legend: {
            }
          },
          items: [
            {
              text: "I don't know the exact year",
              conditional: {
                html: rangesHtml
              },
              behaviour: "exclusive"
            },
            {
              value: "The building has not yet been completed",
              text: "The building has not yet been completed",
              behaviour: "exclusive"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

      <p><a href="#">Save and exit this application</a></p>

    </div>
  </div>

{% endblock %}
