{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Is the building known by any other names?</h1>

      <p>As well as the buildings best known name, it could have other names.</p>

      {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
      {{ govukInsetText({
        text: "For example, the London Eye is also known as the Millenium Wheel."
      }) }}

      <form class="form" action="/other-building-name-boolean-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "other-building-name-boolean",
          value: data['other-building-name-boolean'],
          fieldset: {
            legend: {
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
