{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-!-padding-bottom-5">
        <span class="govuk-caption-m">
          <strong>{{ data['building-name'] }}</strong>, {{ data['address-line-1'] }}, {{ data['address-line-2'] }}, {{ data['postcode'] }}
        </span>
      </div>

      <span class="govuk-caption-xl">The building</span>

      <h1 class="govuk-heading-xl">Does the building have another name, address or postcode?</h1>

      <p>As well as the building's best known address, it could have other names, addresses or postcodes. For example, the London Eye is also known as the Millenium Wheel.</p>

      <p>Only tell us about other names, addresses or postcodes for this building. Do not tell us about other buildings that are connected to this one.</p>

      <form class="form" action="/other-name-address-postcode-boolean-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "other-name-address-postcode-boolean",
          value: data['other-name-address-postcode-boolean'],
          fieldset: {
            legend: {
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

      <p><a href="#">Save and exit this application</a></p>

    </div>
  </div>

{% endblock %}
