{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-!-padding-bottom-5">
        <span class="govuk-caption-m">
          <strong>Acme House</strong>, Acme Road, London, SW32 8KL
        </span>
      </div>

      <span class="govuk-caption-xl">Changes since completion <!--(section 10 of 11)--></span>

      <h1 class="govuk-heading-xl">Year completion certificate issued for change of use</h1>

      <form class="form" action="/questions/mat-changes/material-changes" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukInput({
          label: {
            text: "Completion certificate year",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
            text: "If a refit happended over an extended period of time then enter the year of completion."
          },
          classes: "govuk-input--width-4",
          id: "year-of-use-change",
          name: "year-of-use-change"
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
