{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">What was the previous primary use of {% if data['more-than-one-block'] === "Multiple independent sections" %}
        {{ data['block-name'] }}
        {% endif %}
        {% if data['more-than-one-block'] === "Single independent section" %}
        {{ data['building-name'] }}
        {% endif %}?</h1>

      <form class="form" action="/questions/use-previous/previous-primary-use-year" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "primary-use",
          fieldset: {
            legend: {

            }
          },
          hint: {
            text: "If it had multiple uses, select the option that took up the most floor space"
          },
          items: [
          {
            value: "assembly-and-recreation",
            text: "Assembly and recreation",
            hint: {
              text: "Any place of assembly, entertainment or recreation, like a bingo hall, theatre, dance school, gym or public library."
            }
          }, 
          {
            value: "office",
            text: "Office",
            hint: {
              text: "Any office, bank or building society, police or fire station."
            }
          },
          {
            value: "residential-institution",
            text: "Residential institution",
            hint: {
              text: "Like a care, residential or nursing home, prison, hospital or boarding school."
            }
          },
          {
            value: "residential-other",
            text: "Other residential use",
            hint: {
              text: "Like a hotel, boarding house, halls of residence or hostel."
            }
          },
          {
            value: "shop-and-commercial",
            text: "Shop and commercial",
            hint: {
              text: "Any retail business, like a shop, restaurant or hairdresser."
            }
          },
          {
            value: "storage-and-other-non-residential",
            text: "Other non-residential",
            hint: {
              text: "Any other non-residential use, like a car park, storage or a factory."
            }
          }
        ]
      }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

        <p><a href="/kbi-task-list-return">Save and come back later</a></p>

      </form>

    </div>
    
  </div>

{% endblock %}
