{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Number of floors below ground level in 
        {% if data['more-than-one-block'] === "Multiple independent sections" %}
        {{ data['block-name'] }}
        {% endif %}
        {% if data['more-than-one-block'] === "Single independent section" %}
        {{ data['building-name'] }}
        {% endif %}</h1>


      <form class="form" action="/questions/use-below/floors-below-primary-use" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukInput({
          label: {
          },
          hint: {
            text: "Count any floor whose ceiling is below ground level, like a basement."
          },
          classes: "govuk-input--width-4",
          id: "below-ground-floors",
          name: "below-ground-floors"
        }) }}

        {% from "govuk/components/details/macro.njk" import govukDetails %}
        {{ govukDetails({
          summaryText: "Help with ground level",
          text: "Ground level is the level of the land immediately next to the building. If that land is uneven, it is the lowest part of the land immediately next to the building. Any ceiling below that level is below ground level."
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

        <p><a href="/kbi-task-list-return">Save and come back later</a></p>

      </form>

    </div>

  </div>

{% endblock %}
