{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Connected buildings</span>

      <h1 class="govuk-heading-l">What connects {{ data['building-name'] }} to the other high-rise residential buildings?</h1>

      <form class="form" action="/questions/connected/connected-other-buildings-boolean" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        {{ govukCheckboxes({
          name: "connected-high-rise-buildings",
          fieldset: {
            legend: {
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: [
            {
              value: "Bridge or walkway",
              text: "Bridge or walkway"
            },
            {
              value: "Car park below ground",
              text: "Car park below ground"
            },
            {
              value: "Doorway for emergency use only",
              text: "Doorway for emergency use only"
            },
            {
              value: "Doorway for everyday use",
              text: "Doorway for everyday use"
            },
            {
              value: "Ground floor",
              text: "Ground floor",
              hint: {
                text: "like a shared entrance hall"
              }
            },
            {
              value: "Levels below ground",
              text: "Levels below ground"
            },
            {
              divider: "or"
            },
            {
              value: "None of these",
              text: "None of these",
              behaviour: "exclusive"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
