{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">What connects {{ data['building-name'] }} to the other high-rise residential buildings?</h1>

      <form class="form" action="/questions/connected/connected-other-buildings-boolean" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        {{ govukCheckboxes({
          name: "connected-high-rise-buildings",
          fieldset: {
            legend: {
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: [
            {
              value: "Bridge or walkway between sections",
              text: "Bridge or walkway between sections"
            },
            {
              value: "Car park below ground",
              text: "Car park below ground"
            },
            {
              value: "Ground floor",
              text: "Ground floor",
              hint: {
                text: "like a shared entrance hall"
              }
            },
            {
              value: "Levels below ground with a residential unit",
              text: "Levels below ground with a residential unit"
            },
            {
              value: "Levels below ground without a residential unit",
              text: "Levels below ground without a residential unit"
            },
            {
              value: "Doorway for emergency use only",
              text: "Shared wall with emergency door"
            },
            {
              value: "Doorway for everyday use",
              text: "Shared wall with everyday use door"
            },
            {
              value: "Party wall with no door",
              text: "Shared wall with no door"
            },
            {
              value: "Other",
              text: "Other"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

        <p><a href="/kbi-task-list-return">Save and come back later</a></p>

      </form>

    </div>
  </div>

{% endblock %}
