{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Connections between {{ data['building-name'] }} and other high-rise residential buildings</h1>

      <p>High-rise residential buildings have 7 floors or more, or are 18 metres in height or more, and have at least 2 residential units.</p>

      <p>This helps us to determine if a fire could spread between buildings.</p>

      <p>A building may be connected to another by a shared wall, basement, lobby or walkway.</p>

      <form class="form" action="/connected-high-rise-buildings-boolean-answer" method="post">

        <h2 class="govuk-heading-s">Is {{ data['building-name'] }} connected to any other high-rise residential buildings?</h2>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "connected-high-rise-buildings-boolean",
          fieldset: {
            legend: {

            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            }, 
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

        <p><a href="/kbi-task-list-return">Save and come back later</a></p>

      </form>

    </div>
  </div>

{% endblock %}
