{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Connected buildings</span>

      <h1 class="govuk-heading-l">Is {{ data['building-name'] }} connected to any high-rise buildings?</h1>

      <form class="form" action="/connected-high-rise-buildings-boolean-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "connected-high-rise-buildings-boolean",
          fieldset: {
            legend: {
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            }, 
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
