{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Select the address of 
        {% if data['ap-type'] === "Organisation" %}
        {{ data['ap-org-name'] }}
        {% endif %}
        {% if data['ap-type'] === "Individual" %}
        {{ data['ap-individual-first-name'] }} {{ data['ap-individual-last-name'] }}
        {% endif %}
      </h1>

      <p>30 addresses found for <strong>{{ data['search-address-postcode'] }}</strong> and <strong>{{ data['search-address-line-1'] }}</strong>.</p>

      <form class="form" action="confirm-address" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "select-the-address",
          fieldset: {
            legend: {
            }
          },
          items: [
            {
              value: "1 Example Street, Examplton, EX1 2AB",
              text: "1 Example Street, Examplton, EX1 2AB"
            },
            {
              value: "2 Example Street, Examplton, EX1 2AB",
              text: "2 Example Street, Examplton, EX1 2AB"
            },
            {
              value: "3 Example Street, Examplton, EX1 2AB",
              text: "3 Example Street, Examplton, EX1 2AB"
            },
            {
              value: "4 Example Street, Examplton, EX1 2AB",
              text: "4 Example Street, Examplton, EX1 2AB"
            },
            {
              value: "6 Example Street, Examplton, EX1 2AB",
              text: "6 Example Street, Examplton, EX1 2AB"
            },
            {
              value: "7 Example Street, Examplton, EX1 2AB",
              text: "8 Example Street, Examplton, EX1 2AB"
            },
            {
              value: "9 Example Street, Examplton, EX1 2AB",
              text: "9 Example Street, Examplton, EX1 2AB"
            },
            {
              value: "10 Example Street, Examplton, EX1 2AB",
              text: "10 Example Street, Examplton, EX1 2AB"
            },
            {
              value: "11 Example Street, Examplton, EX1 2AB",
              text: "11 Example Street, Examplton, EX1 2AB"
            },
            {
              value: "12 Example Street, Examplton, EX1 2AB",
              text: "12 Example Street, Examplton, EX1 2AB"
            },
            {
              value: "13 Example Street, Examplton, EX1 2AB",
              text: "13 Example Street, Examplton, EX1 2AB"
            },
            {
              value: "14 Example Street, Examplton, EX1 2AB",
              text: "14 Example Street, Examplton, EX1 2AB"
            },
            {
              value: "15 Example Street, Examplton, EX1 2AB",
              text: "15 Example Street, Examplton, EX1 2AB"
            },
            {
              value: "16 Example Street, Examplton, EX1 2AB",
              text: "16 Example Street, Examplton, EX1 2AB"
            },
            {
              value: "17 Example Street, Examplton, EX1 2AB",
              text: "17 Example Street, Examplton, EX1 2AB"
            },
            {
              value: "18 Example Street, Examplton, EX1 2AB",
              text: "18 Example Street, Examplton, EX1 2AB"
            },
            {
              value: "19 Example Street, Examplton, EX1 2AB",
              text: "19 Example Street, Examplton, EX1 2AB"
            },
            {
              value: "20 Example Street, Examplton, EX1 2AB",
              text: "20 Example Street, Examplton, EX1 2AB"
            },
            {
              value: "21 Example Street, Examplton, EX1 2AB",
              text: "21 Example Street, Examplton, EX1 2AB"
            },
            {
              value: "22 Example Street, Examplton, EX1 2AB",
              text: "22 Example Street, Examplton, EX1 2AB"
            },
            {
              value: "23 Example Street, Examplton, EX1 2AB",
              text: "23 Example Street, Examplton, EX1 2AB"
            },
            {
              value: "24 Example Street, Examplton, EX1 2AB",
              text: "24 Example Street, Examplton, EX1 2AB"
            },
            {
              value: "25 Example Street, Examplton, EX1 2AB",
              text: "25 Example Street, Examplton, EX1 2AB"
            },
            {
              value: "26 Example Street, Examplton, EX1 2AB",
              text: "26 Example Street, Examplton, EX1 2AB"
            },
            {
              value: "27 Example Street, Examplton, EX1 2AB",
              text: "27 Example Street, Examplton, EX1 2AB"
            },
            {
              value: "28 Example Street, Examplton, EX1 2AB",
              text: "28 Example Street, Examplton, EX1 2AB"
            },
            {
              value: "29 Example Street, Examplton, EX1 2AB",
              text: "29 Example Street, Examplton, EX1 2AB"
            },
            {
              value: "30 Example Street, Examplton, EX1 2AB",
              text: "30 Example Street, Examplton, EX1 2AB"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

      <p><a href="find-address">Search again</a></p>

      <p><a href="enter-address-manually">Enter address manually</a></p>

    </div>
  </div>

{% endblock %}
