{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service in development - do not take anything you see here as guidance.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Principal accountable person</span>

      <h1 class="govuk-heading-l">Authorised person address</h1>

      <p>The address must be in England or Wales.</p>

      <form class="form" action="/check-answers-pap-answer" method="post">

        {{ govukInput({
          label: {
            text: "Address line 1",
            classes: "govuk-label--s"
          },
          id: "pap-authorised-person-address-line-1",
          name: "pap-authorised-person-address-line-1",
          value: data['pap-authorised-person-address-line-1']
        }) }}

        {{ govukInput({
          label: {
            text: "Address line 2",
            classes: "govuk-label--s"
          },
          id: "pap-authorised-person-address-line-2",
          name: "pap-authorised-person-address-line-2",
          value: data['pap-authorised-person-address-line-2']
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-10",
          id: "pap-authorised-person-postcode",
          name: "pap-authorised-person-postcode",
          value: data['pap-authorised-person-postcode']
        }) }}

        <p><a href="#">Find a postcode on Royal Mail's postcode finder</a></p>

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

      <p><a href="#">Save and come back later</a></p>

    </div>
  </div>

{% endblock %}
