{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service in development - do not take anything you see here as guidance.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Principal accountable person</span>

      <h1 class="govuk-heading-l">{{ data['pap-individual-first-name'] }} {{ data['pap-individual-last-name'] }}'s contact details</h1>

      <form class="form" action="/questions/pap/pap-address" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukInput({
          label: {
            text: "Email address"
          },
          id: "pap-individual-email",
          name: "pap-individual-email",
          value: data['pap-individual-email']
        }) }}

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukInput({
          label: {
            text: "Telephone number"
          },
          id: "pap-individual-phone",
          name: "pap-individual-phone",
          value: data['pap-individual-phone']
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

      <p><a href="#">Save and exit this application</a></p>

    </div>
  </div>

{% endblock %}
