{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service in development - do not take anything you see here as guidance.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Principal accountable person</span>

      <h1 class="govuk-heading-l">Is the principal accountable person an organisation or an individual?</h1>

      <p>
        If we need to talk to someone about building safety issues for {{ data['building-name'] }}, we will contact the principal accountable person.
      </p>

      <p>
        If they are an organisation, we will ask you to tell us what type of organisation they are. We will also ask you for the name and contact details of someone in the organisation we can contact.
      </p>

      <p>
        If the principal accountable person is an individual, we will always contact that individual.
      </p>

      <form class="form" action="/pap-type-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "pap-type",
          value: data['pap-type'],
          fieldset: {
            legend: {
              text: "The principal accountable person is",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Organisation",
              text: "An organisation"
            },
            {
              value: "Individual",
              text: "An individual"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

      <p><a href="/register-task-list-return">Save and come back later</a></p>

    </div>
  </div>

{% endblock %}
