{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Other dutyholders</span>

      <form class="form" action="/check-answers-other-dutyholders" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "add-another-ap",
          fieldset: {
            legend: {
              text: "Do you need to add another accountable person?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

      <p><a href="#">Save and exit this application</a></p>

    </div>
  </div>

{% endblock %}
