{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Aluminium composite material (ACM) on 
        {% if data['more-than-one-block'] === "Multiple independent sections" %}
        {{ data['block-name'] }}
        {% endif %}
        {% if data['more-than-one-block'] === "Single independent section" %}
        {{ data['building-name'] }}
        {% endif %}
      </h1>

      <form class="form" action="/questions/walls/external-wall-type-hpl" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "where-do-you-live",
          fieldset: {
            legend: {
            }
          },
          items: [
            {
              text: "Meets the fire classification A2-s1, d0 or better",
              hint: {
                text: "Set out in the British Standard BS EN 13501-1, this classifies building materials based on their reaction to fire."
              }
            },
            {
              text: "Has passed a large-scale fire test to BS8414",
              hint: {
                text: "This is the British Standard for tests that assess the fire safety of cladding applied to the outside of buildings."
              }
            },
            {
              text: "Neither of these"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

        <p><a href="/kbi-task-list-return">Save and come back later</a></p>

      </form>

    </div>

    
  </div>

{% endblock %}
