{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">What materials are visible on the outside of the walls of 
        {% if data['more-than-one-block'] === "Multiple independent sections" %}
        {{ data['block-name'] }}
        {% endif %}
        {% if data['more-than-one-block'] === "Single independent section" %}
        {{ data['building-name'] }}
        {% endif %}?
      </h1>

      <p>You should also be able to get this information from the latest external wall system appraisal.</p>
      
      <p>This is not a complete list. It includes only the materials we need to know about.</p>

      <form class="form" action="/questions/walls/external-wall-type-acm" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        {{ govukCheckboxes({
          name: "waste",
          fieldset: {
            legend: {

            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: [
            {
              text: "Aluminium composite materials (ACM)"
            },
            {
              text: "High pressure laminate (HPL)"
            },
            {
              text: "Metal composite panels"
            },
            {
              text: "Other composite panels"
            },
            {
              value: "mines",
              text: "Concrete"
            },
            {
              value: "farm",
              text: "Glass"
            },
            {
              value: "carcasses",
              text: "Green walls"
            },
            {
              value: "mines",
              text: "Masonry"
            },
            {
              value: "carcasses",
              text: "Metal panels",
              hint: {
                text: "Including aluminium but not composite panels"
              }
            },
            {
              value: "mines",
              text: "Render"
            },
            {
              value: "mines",
              text: "Tiles"
            },
            {
              value: "carcasses",
              text: "Timber"
            },
            {
              value: "carcasses",
              text: "Other"
            }
          ]
        }) }}
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

        <p><a href="/kbi-task-list-return">Save and come back later</a></p>

      </form>

    </div>

    
  </div>

{% endblock %}
