{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Percentage of each material on the outside walls of
        {% if data['more-than-one-block'] === "Multiple independent sections" %}
        {{ data['block-name'] }}
        {% endif %}
        {% if data['more-than-one-block'] === "Single independent section" %}
        {{ data['building-name'] }}
        {% endif %}
      </h1>

      <form class="form" action="/questions/walls/external-wall-insulation" method="post">

      <p>Estimate the percentage.</p>

      <p>They must all add up to 100%.</p>

        {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
        {{ govukInsetText({
          text: "For example, 70% might be covered in concrete while the remaining 30% might be covered in glass."
        }) }}

        {% from "govuk/components/details/macro.njk" import govukDetails %}

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with estimating percentages
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>Start by calculating the surface area of {% if data['more-than-one-block'] === "Multiple independent sections" %}
            {{ data['block-name'] }}
            {% endif %}
            {% if data['more-than-one-block'] === "Single independent section" %}
            {{ data['building-name'] }}
            {% endif %}
            . Then calculate the surface area of the windows and any glass on balcony doors. This helps you to calculate the percentage covered by glass.</p>
            <p>Then you can estimate the remaining percentages of the other materials.</p>
          </div>
        </details>

        {{ govukInput({
          label: {
            text: "Concrete"
          },
          suffix: {
            text: "%"
          },
          classes: "govuk-input--width-3",
          id: "width-3",
          name: "width-3"
        }) }}

        {{ govukInput({
          label: {
            text: "Glass"
          },
          suffix: {
            text: "%"
          },
          classes: "govuk-input--width-3",
          id: "width-3",
          name: "width-3"
        }) }}

        {{ govukInput({
          label: {
            text: "Masonry"
          },
          suffix: {
            text: "%"
          },
          classes: "govuk-input--width-3",
          id: "width-3",
          name: "width-3"
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

        <p><a href="/kbi-task-list-return">Save and come back later</a></p>

      </form>

    </div>
    
  </div>

{% endblock %}
