{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">External walls and features <!--(section 8 of 11)--></span>

      <h1 class="govuk-heading-l">Composite panels</h1>

      <form class="form" action="/questions/walls/external-wall-percentage" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "contact",
        fieldset: {
          legend: {
            text: "Which composite panels are used on the external walls of the section?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "phone",
            text: "Aluminium composite material (ACM) category 1"
          },
          {
            value: "email",
            text: "Aluminium composite material (ACM) category 2"
          },
          {
            value: "email",
            text: "Aluminium composite material (ACM) category 3"
          },
          {
            value: "email",
            text: "High pressure laminate (HPL)"
          },
          {
            value: "phone",
            text: "Metal composite panels"
          },
          {
            value: "email",
            text: "Other composite materials"
          }
        ]
      }) }}
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>

    <div class="govuk-grid-column-one-third">
      <span class="govuk-caption-m">
        <strong>{{ data['building-name'] }}</strong>
        <br>{{ data['building-address-line-1'] }}
        <br>{{ data['building-address-line-2'] }}
        <br>{{ data['building-postcode'] }}
      </span>
    </div>
    
  </div>

{% endblock %}
