{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-!-padding-bottom-5"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Microsoft_Office_Outlook_%282018–present%29.svg/826px-Microsoft_Office_Outlook_%282018–present%29.svg.png" width="40px"></div>

<p><strong>From:</strong> enquiries@hse.gov.uk
  <br><strong>To:</strong> joebloggs@account.co.uk
  <br><strong>Subject:</strong> Register a high-rise building application number
</p>

{% from "govuk/components/header/macro.njk" import govukHeader %}
{{ govukHeader({
  homepageUrl: "#"
}) }}

<div class="govuk-!-padding-bottom-5"></div>

<h1 class="govuk-heading-xl">Continue your building registration application</h1>

<p>You can now return to your saved application to register a high-rise building. Your progress will be saved automatically each time you continue on to the next question in your application.</p>

<h2 class="govuk-heading-l">Keep this email safe</h2>

<p>You may need it again when returning to your application.</p>

<p>The application your started was for a building with:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>7 floors</li>
  <li>18 metres in height</li>
  <li>2 residential units</li>
</ul>

<p>Your application number is:</p>

<div class="govuk-inset-text">
  <p><strong>BSR-00001</strong></p>
</div>

<p>You will need this number each time you return to your application.</p>

{% from "govuk/components/button/macro.njk" import govukButton %}
{{ govukButton({
  text: "Return to your application",
  href: "/questions/contact-details/email-code",
  classes: "govuk-button"
}) }}

<h2 class="govuk-heading-l">Why you got this email</h2>

<p>You started an application to register a high-rise building with the Building Safety Regulator.</p>

<p>From Health and Safety Executive</p>

<p>You can <a href="#">register another high-rise building</a> at any time.</p>

  {% from "govuk/components/button/macro.njk" import govukButton %}
  {{ govukButton({
    text: "Return to service",
    href: "/questions/contact-details/email-code",
    classes: "govuk-button--secondary"
  }) }}

{% endblock %}
