{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">We need more information about some of your blocks</h1>

      <form class="form" action="/questions/pap/pap-type" method="post">

        <p class="govuk-body">For <strong>[block A name]</strong> and <strong>[block B name]</strong>, we need you to tell us about:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the principal accountable person</li>
          <li>other accountable persons</li>
          <li>how we can contact them</li>
          <li>what they're accountable for</li>
        </ul>

        <p>We don't need anymore information about <strong>[block C name]</strong> and <strong>[block D name]</strong>. </p>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
