{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service in development - do not take anything you see here as guidance.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">Principal accountable person</span>

      <h1 class="govuk-heading-l">Check your answers</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['pap-type'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/pap/pap-type">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Are you the principal accountable person?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['are-you-the-pap'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/pap/are-you-the-pap">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your address
          </dt>
          <dd class="govuk-summary-list__value">
            7 Example Street
            <br>Exampleton
            <br>EX1 2AB
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/users-address/confirm-address">
              Change
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Principal accountable persons name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['pap-individual-first-name'] }} {{ data['pap-individual-last-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/pap/pap-individual-name">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Principal accountable persons contact details
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['pap-individual-email'] }}
            <br>{{ data['pap-individual-phone'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/pap/pap-individual-contact-details">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Principal accountable persons address
          </dt>
          <dd class="govuk-summary-list__value">
            7 Example Street
            <br>Exampleton
            <br>EX1 2AB
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/pap-address/confirm-address">
              Change
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
      </dl>

      <form action="/questions/aps/add-ap" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

      </form>

      <p><a href="#">Save and come back later</a></p>

    </div>
  </div>
{% endblock %}
