{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Check before you start <!--(section 1 of 11)--></span>


      <h1 class="govuk-heading-l">
        Check you have the information you need
      </h1>

      <p>We need principal accountable persons to show us that they understand the buildings they're accountable for. The information you give will help us to prioritise which buildings we will assess first.</p>

      <p>At this stage, we do not need to know about planned changes or improvements - we will ask about these when we assess the building. We need you to tell us about the building as it is now - or at the most recent survey.</p>

      <p>You should not need to do a full survey on your building. You should be able to get the information we need from the most recent external wall system (EWS) appraisal or fire risk assessment.</p>

      <p>If there are gaps in the information you can give, this will help you when you start to assess the building's risks as part of your safety case report.</p>

      <h2 class="govuk-heading-m">Fire and smoke controls</h2>

      <p>We will ask you about the evacuation strategy for the residential areas. We do not need to know how any non-residential parts are evacuated.</p>

      <p>We need to know if there are heat or smoke detectors, or sprinklers, in the residential units. We also need to know about fire and smoke control provisions and equipment - and where in the building they are.</p>

      <p>We do not need to know about equipment like hand held fire extinguishers. We need to know about equipment that is built in to the building, like smoke control systems and heat or smoke detectors connected to a building-wide alarm system.</p>

      <h2 class="govuk-heading-m">Energy supply and storage</h2>

      <p>We need to know what types of energy supply and energy storage are in the building. We need to know if the building has:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>district or communal heating</li>
        <li>an eco boiler</li>
        <li>hydrogen batteries</li>
        <li>lithium ion batteries</li>
        <li>mains gas or electricity</li>
        <li>oil heating</li>
        <li>on site generation - this could solar panels, wind turbines or air source heat pumps</li>
      </ul>

      <p>This is not a complete list. It includes only the types of energy we need to know about.</p>

      <h2 class="govuk-heading-m">Structural type and materials</h2>

      <p>We need to know what materials are used in the structure of the building. For example, if the building has a concrete large panel system, is it from the 1960s or from 1970 onwards. If the building has a modular structure, what materials make up the modules.</p>

      <h2 class="govuk-heading-m">Roof</h2>

      <p>We will ask:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>whether the roof is flat, pitched or a mix of both</li>
        <li>if any part of the roof is insulated</li>
        <li>what material covers the largest area of the roof surface</li>
      </ul>

      <h2 class="govuk-heading-m">Staircases</h2>

      <p>We need to know:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>how many staircases are in the building - inside and out</li>
        <li>how many of those are inside and serve all the floors above ground level</li>
      </ul>

      <h2 class="govuk-heading-m">Exernal walls and features</h2>

      <p>We'll ask:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>what materials you can see on the walls from the outside of the building</li>
        <li>what types of insulation materials are used in the external walls</li>
      </ul>

      <p>For each of these, we'll ask you to estimate how much of each material is on the external walls.</p>

      <p>We also need to know about external features like balconies, communal recreation areas or walkways, escape routes that go onto and across the roof, roof lights, phone masts, solar shading or external staircases.</p>

      <p>We'll also ask which materials are used most in the external features. For example, if the balconies have a concrete frame and floor with glass walls and a small amount of plastic, we need you tell us that the balconies are mostly made of concrete and glass. If you have roof lights, we'll assume there's glass so you only need to tell us if there's also aluminium or another type of metal in the frame.</p>

      <h2 class="govuk-heading-m">What the building is used for</h2>

      <p>We need to know what the building is used for. We'll only ask for the primary and secondary uses. If the building has more than 2 uses, tell us about the uses that take up the most space above ground.</p>

      <p>For example, the building could be 5 floors of residential dwellings above 3 floors of hotel with a shop on the ground floor. The primary use would be 'residential dwellings'. The secondary use would be 'other residential use'. And we would not need to know about the 'shop and commercial' use.</p>

      <p>If there are any floors below ground level, we will also ask what these are used for.</p>
   
      <h2 class="govuk-heading-m">Changes since completion</h2>

      <p>We will ask:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>if the building was previously used for something else, what it was used for and when it changed</li>
        <li>what material changes have been made since the original build and when the most recent change was made</li>
      </ul>

      <h2 class="govuk-heading-m">Connected buildings</h2>

      <p>To get a better understanding of the building and how fire might spread, we need to know:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>how different sections of the building are connected together</li>
        <li>if the building is connected to other high-rise residential buildings and how</li>
        <li>if the building is connected to any other buildings and how</li>
      </ul>

      <a href="/questions/fire/evacuation-policy" role="button" draggable="false" class="govuk-button data-module="govuk-button">
        Continue
      </a>

    </div>

  </div>
{% endblock %}
