{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service in development - do not take anything you see here as guidance.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">Principal accountable person</span>

      <h1 class="govuk-heading-l">Check your answers</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['pap-type'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/pap/pap-type">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Organisation type
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['pap-org-type'] }}
            <br>{{ data['pap-org-type-other'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/pap/pap-org-type">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Organisation name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['pap-org-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/pap/pap-org-name">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Organisation address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['pap-address-line-1'] }}
            <br>{{ data['pap-address-line-2'] }}
            <br>{{ data['pap-postcode'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/pap/pap-address">
              Change
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Lead contact details
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['pap-org-lead-contact-name'] }}
            <br>{{ data['pap-org-lead-contact-email'] }}
            <br>{{ data['pap-org-lead-contact-phone'] }}
            <br>{{ data['pap-org-lead-contact-role'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/pap/pap-org-lead-contact-details">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Has the principal accountable person authorsied someone to act for them?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['pap-authorised-boolean'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/pap/pap-authorised-boolean">
              Change
              <span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Authorised person contact details
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['pap-authorised-person-name'] }}
            <br>{{ data['pap-authorised-person-email'] }}
            <br>{{ data['pap-authorised-person-phone'] }}
            <br>{{ data['pap-authorised-person-role'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/pap/pap-org-lead-contact-details">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Authorised person address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['pap-address-line-1'] }}
            <br>{{ data['pap-address-line-2'] }}
            <br>{{ data['pap-postcode'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/pap/pap-authorised-person-address">
              Change
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
      </dl>

      <form action="/questions/aps/add-ap" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

      </form>

      <p><a href="#">Save and exit this application</a></p>

    </div>
  </div>
{% endblock %}
