{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Check before you start <!--(section 1 of 11)--></span>


      <h1 class="govuk-heading-xl">
        Check you have the information you need
      </h1>

      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
      {{ govukWarningText({
        text: "You must give us this information by 28 October 2023.",
        iconFallbackText: "Attention"
      }) }}

      <h2 class="govuk-heading-l">Fire and smoke controls</h2>

      <p>We will ask you about:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the evacuation strategy for the building</li>
        <li>fire and smoke control provisions and equipment</li>
        <li>how the fire and smoke controls can be accessed</li>
      </ul>

      <h2 class="govuk-heading-l">Energy supply and storage</h2>

      <p>We need to know what types of energy supply and energy storage are in the building.</p>

      <h2 class="govuk-heading-l">Connected buildings</h2>

      <p>AWAITING CONTENT</p>

      <h2 class="govuk-heading-l">Roof</h2>

      <p>We will ask:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>whether the roof is flat or pitched</li>
        <li>whether it has a separate layer of insulation</li>
        <li>what material the roof is mainly made of</li>
      </ul>

      <h2 class="govuk-heading-l">Staircases</h2>

      <p>We need to know:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>how many staircases are in the building</li>
        <li>how many of those serve all the floors above ground level</li>
      </ul>

      <h2 class="govuk-heading-l">Exernal walls and features</h2>

      <p>We’ll ask about the materials used and how much of each material is used on the outside of the building.</p>
      <p>We’ll also ask about insulation in the external walls.</p>
      <p>We also need to know about external features like balconies, communal recreation areas or walkways, escape routes on the roof, roof lights or masts, solar shading or external stair cores.</p>

      <h2 class="govuk-heading-l">What the building is used for</h2>

      <p>We need to know what the building is used for.</p>
      <p>If there are any floors below ground level, we need to know what these are used for.</p>
   
      <h2 class="govuk-heading-l">Changes since construction</h2>

      <p>We need to know about the most recent changes made to the building since completion.</p>
      <p>This could be:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>changes of use</li>
        <li>material changes</li>
      </ul>

      <p>We will also ask when the most recent changes were made.</p>

      <a href="/questions/fire/evacuation-policy" role="button" draggable="false" class="govuk-button data-module="govuk-button">
        Continue
      </a>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
