{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Check you have the information you need for {{ data['building-name'] }}
      </h1>

      <p>Principal accountable persons need to show that they understand the buildings they're accountable for. The information you give will help to prioritise which buildings we'll assess first.</p>

      <p>You should be able to get the information we need from the most recent external wall system (EWS) appraisal or fire risk assessment. So you should not need to do a full separate survey.</p>

      <p>At this stage, we do not need to know about planned changes or improvements - we will ask about these when we assess the building. We need you to tell us about the building as it is now - or at the most recent survey.</p>

      <p>The information you give will help you when you start to assess the building's risks as part of your safety case report.</p>

      <p>You should take all reasonable steps to find this information.</p>

      <h2 class="govuk-heading-m">Fire and smoke controls</h2>

      <p>We'll ask you about the evacuation strategy for the residential areas. This could be phased, progressive horizontal, simultaneous, stay put or temporary simultaneous. We do not need to know how you evacuate any non-residential parts.</p>

      <p>We need to know about fire and smoke control equipment in the residential units. This includes heat or smoke detectors and sprinklers.</p>

      <p>We need to know about fire and control equipment in the parts of the building shared by all residents. This includes alarms, fire dampers or extinguishers, dry or wet risers, smoke control systems, smoke detectors, and sprinklers. We also need to know where these are.</p>

      <p>We also need to know if the building has any types of evacuation or firefighter lifts.</p>

      <p>Evacuation lifts have structural, electrical and fire protection. They're used to evacuate people with a disability or extra needs.</p>

      <p>Firefighters lifts have protection, controls and signals for firefighters to control it. The 2003 British Standard classifies these lifts.</p>

      <p>Fire-fighting lifts are like firefighters lifts but less stringent. The 1986 British Standard classifies these lifts.</p>

      <p>Modernised lifts for fire service use are normally used for passengers. But they have basic extra protection, controls and signals for firefighters to use.</p>

      <p>Firemen's lifts were installed before fire-fighting lift standards were available. They have no complex lift controls or protection measures for firefighters to use.</p>

      <h2 class="govuk-heading-m">Fire doors</h2>

      <p>We need to know the certified fire resistance of your fire doors. We'll ask you tell us about:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>residential unit front doors</li>
        <li>fire doors in the other parts of the building shared by all residents</li>
      </ul>

      <p>You need to tell us how many of each door has certified fire resistance for 30, 60 or 120 minutes. You'll also need to tell us about fire doors where you do not know the fire resistance, like notional fire doors.</p>

      <h2 class="govuk-heading-m">Energy supplies, storage and generation</h2>

      <p>We need to know about:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>types of energy storage, like lithium ion or hydrogen batteries</li>
        <li>energy generated on site</li>
        <li>types of energy supply</li>
      </ul>

      <p>On site generation includes air source heat pumps, biomass boilers, or solar panels.</p>

      <p>Energy supply includes district heating, mains electricity or gas supply, or oil.</p>

      <h2 class="govuk-heading-m">Type of structure</h2>

      <p>We need to know about the structure of the building. It could be any of these types:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>composite steel and concrete</li>
        <li>concrete large panel system - 1960s</li>
        <li>concrete large panel system - 1970 onwards</li>
        <li>modular - concrete</li>
        <li>other concrete</li>
        <li>lightweight metal structure, like aluminium</li>
        <li>masonry</li>
        <li>modular - steel</li>
        <li>steel frame</li>
        <li>modular - other metal</li>
        <li>modular - timber</li>
        <li>timber</li>
        <li>none of these</li>
      </ul>

      <h2 class="govuk-heading-m">Roof</h2>

      <p>We need to know:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>what type of roof is on the building - flat, pitched, or a mix of both</li>
        <li>if the roof has a layer of insulation on top of or below the roof structure, or not</li>
        <li>what material covers the largest surface area of the roof</li>
      </ul>

      <h2 class="govuk-heading-m">Staircases</h2>

      <p>We need you to count:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>all staircases on the inside and outside, including those that serve the basement</li>
        <li>the staircases inside the building that serve all floors from ground level to the top floor</li>
      </ul>

      <h2 class="govuk-heading-m">Exernal walls</h2>

      <p>We need to know what materials are visible on the outside of the walls. We also need you to estimate what percentage of each is visible. For example, concrete might cover 70% while glass might cover the remaining 30%.</p>

      <p>To estimate the percentages, start by calculating the surface area of the structure. Then calculate the surface area of the windows and any glass on balcony doors. This helps you to calculate the percentage covered by glass. Then you can estimate the remaining percentages of the other materials.</p>

      <p>If there’s aluminium composite material (ACM) or high pressure laminate (HPL), we need to know if it:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>meets the fire classification A2-s1, d0 or better</li>
        <li>has passed a large-scale fire test to BS8414</li>
      </ul>

      <p>A2-s1, d0 is set out in British Standard BS EN 13501-1. This classifies building materials based on their reaction to fire. BS8414 is the British Standard for tests that assess the fire safety of cladding applied to the outside of buildings.</p>

      <p>We need to know:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>what type of insulation is in the outside walls</li>
        <li>the percentage of each type of insulation</li>
        <li>features on the outside walls and roof</li>
        <li>which 2 materials are most used in each feature</li>
      </ul>

      <p>Features on the roof include communal recreation areas, phone masts or roof lights. On the outside walls, there might be advertising hoardings, balconies or staircases. There might be communal walkways between structures or escape routes onto the roof.</p>

      <p>We also need to know if the building has machinery in an outbuilding, on the roof or in a room on the roof. Machinery could be for heating, ventilation or energy generation.</p>

      <h2 class="govuk-heading-m">Building use</h2>

      <p>For building use, we use the same list of options throughout the application:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>assembly and recreation</li>
        <li>any type of office, bank or building society, police or fire station</li>
        <li>residential dwellings, like flats or maisonettes</li>
        <li>residential institution</li>
        <li>any other residential use, like a hotel, boarding house, halls of residence or hostel</li>
        <li>shop and commercial - any retail business, like a shop, restaurant or hairdresser</li>
        <li>any other non-residential use, like a car park, storage, machinery room or factory</li>
      </ul>

      <p>Assembly and recreation means any place of assembly, entertainment or recreation. For example, this might be a bingo hall, theatre, dance school, gym or public library.</p>

      <p>Residential institutions include prisons, hospitals or boarding schools. They could also be care, residential or nursing homes.</p>

      <p>We need to know the primary use of the building. The primary use is the area that takes up the most floor space above ground level. If there's a secondary use, we need to know about that too.</p>

      <p>If there are any floors below ground level, we need to know how many there are and what they're used for.</p>

      <p>If the building had a different primary use in the past, we need to know what it was used for. For example, an office or factory could have been converted into residential units. And if you know it, we'd like to know when the use changed. </p>
   
      <h2 class="govuk-heading-m">Building works since original build</h2>

      <p>We need to know about any building works that needed a building control application. Even if there has only been a partial change, these include:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>asbestos removal and remediation on multiple floors</li>
        <li>adding balconies</li>
        <li>changes in number of residential units, number or location of staircases</li>
        <li>changes to windows</li>
        <li>complete rewiring of buildings or floors</li>
        <li>adding or removing floors</li>
        <li>reinforcement works to large panel system structure</li>
        <li>work connected to external walls, like replacing cavity barriers, insulation or cladding</li>
      </ul>

      <p>It also includes the installation, replacement or removal of:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>active or passive fire systems</li>
        <li>emergency or other lighting</li>
        <li>cold water systems in multiple residential units</li>
        <li>of heating or hot water system in multiple residential units</li>
        <li>of gas supply to building</li>
      </ul>

      <p>We need to know the type of structure of any floors added to the building.</p>

      <p>We also need to know which was the most recent work and what year it was completed.</p>

      <h2 class="govuk-heading-m">Connections</h2>

      <p>We need to know about connections:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>between structures within the building - if there's more than one structure in the building</li>
        <li>to other high-rise residential buildings</li>
        <li>to other buildings</li>
      </ul>

      <a href="/questions/fire/evacuation-policy" role="button" draggable="false" class="govuk-button data-module="govuk-button">
        Continue
      </a>

    </div>

  </div>
{% endblock %}
