{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-xl">Tell us about other accountable persons</span>

      <h1 class="govuk-heading-xl">Check your answers</h1>

      <p>These are in addition to the principal accountable person <strong>{{ data['pap-org-name'] }}</strong></p>

      <h2 class="govuk-heading-m">First accountable person</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type
          </dt>
          <dd class="govuk-summary-list__value">
            Individual
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/aps/ap-type">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact details
          </dt>
          <dd class="govuk-summary-list__value">
            name
            <br>email
            <br>phone
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/aps/ap-individual-details">
              Change
              <span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['ap-address-line-1'] }}
            <br>{{ data['ap-address-line-2'] }}
            <br>{{ data['ap-postcode'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/aps/ap-individual-address">
              Change
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Areas of accountability
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>Block A</strong>
            <br>Surrounding areas
            <p>            <br><strong>Block C</strong>
              <br>Internal common parts
              <br>Surrounding areas
            </p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/aps/ap-areas">
              Change
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Second accountable person</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type
          </dt>
          <dd class="govuk-summary-list__value">
            Organisation
            <br>{{ data['ap-org-type'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/pap/pap-type">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['ap-org-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/aps/ap-org-name">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['ap-address-line-1'] }}
            <br>{{ data['ap-address-line-2'] }}
            <br>{{ data['ap-postcode'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/aps/ap-org-address">
              Change
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Areas of accountability
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>Block A</strong>
            <br>Internal common parts
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/aps/ap-areas">
              Change
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Named contact details
          </dt>
          <dd class="govuk-summary-list__value">
            name
            <br>email
            <br>phone
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/aps/ap-org-named-contact-details">
              Change
              <span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
      </dl>

      <form action="/registration-declaration" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

      </form>

      <p><a href="#">Save and exit this application</a></p>

    </div>
  </div>
{% endblock %}
