{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-xl">Other dutholders</span>

      <h1 class="govuk-heading-xl">Check your answers</h1>

      <h2 class="govuk-heading-m">Accountable person 1</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Accountability type
          </dt>
          <dd class="govuk-summary-list__value">
            Building owner (individual)
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Building owner (individual) name and contact details
          </dt>
          <dd class="govuk-summary-list__value">
            Jane Thompson
            <br>123 Ltd
            <br>jane.thompson@123ltd.co.uk
            <br>01234 560987
            <br>16 The Forest, Brighton, B19 7TG
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Areas of accountability
          </dt>
          <dd class="govuk-summary-list__value">
            Internal common ap-common-parts
            <br>Maintenance of plant and equipment
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Other accountable persons
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
      </dl>

      <form action="/registration-declaration" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

      </form>

      <p><a href="#">Save and exit this application</a></p>

    </div>
  </div>
{% endblock %}
