{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-!-padding-bottom-5"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Microsoft_Office_Outlook_%282018–present%29.svg/826px-Microsoft_Office_Outlook_%282018–present%29.svg.png" width="40px"></div>

<p><strong>From:</strong> enquiries@hse.gov.uk
  <br><strong>To:</strong> {{ data['email'] }}
  <br><strong>Subject:</strong> {{ data['building-name'] }} registration
</p>

{% from "govuk/components/header/macro.njk" import govukHeader %}
{{ govukHeader({
  homepageUrl: "#"
}) }}

<div class="govuk-!-padding-bottom-5"></div>

<h1 class="govuk-heading-l">Building structure and safety information</h1>

<p>We have received the structure and safety information for:</p>

<p><strong>{{ data['building-name'] }}</strong>
<br>7 Example Street, Exampleton, EX1 2AB</p>

<div class="govuk-inset-text">
  Your application number is <strong>BSR019388477</strong>.
</div>

<h2 class="govuk-heading-l">What happens next</h2>

<p>We'll look at the information you have given and compare it information we already hold.</p>

<p>We may also contact you if we need further information.
</p>

<p>We'll use all the information to prioritise which buildings we need to assess first.
</p>

<h2 class="govuk-heading-l">Why you got this email</h2>

<p>You submitted structure and safety information as part of an application to register a high-rise building with the Building Safety Regulator.</p> 

<p>From the Health and Safety Executive</p>

<p>You can <a href="/start">register another high-rise building</a> at any time.</p>

{% endblock %}
