{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Structure and safety information submitted for {{ data['building-name'] }}</h1>
        <div class="govuk-panel__body">
          Your application number<br><strong>BSR012345678</strong>
        </div>
      </div>

      <p>
        We have sent a confirmation email to <b>{{ data['email'] }}</b>. If you cannot find the email, check your junk or spam folders.
      </p>

      <p>If you did not get the email, <a href="/contact">contact us</a>.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>We have received your information.</p>
        
      <p><a href="/kbi-summary">Get a copy of the information you submitted (opens in a new tab)</a>.</p>

      <p>We will contact you by email if we need more information.</p>

      <p>You can <a href="#">register another building</a>.</p>

      <p><a href="/service-feedback">What did you think of this service?</a> (takes 30 seconds)</p>

    </div>
  </div>

{% endblock %}
