{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Key building information submitted for Acme House.</h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <p>
        We have sent a confirmation email to <b>joe.bloggs@account.co.uk</b>. If you cannot find the email, check your junk or spam folders.
      </p>

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Launch emails",
        href: "/confirm-email",
        classes: "govuk-button--secondary"
      }) }}

      <p>If you did not get the email, <a href="/contact">contact us</a>.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>We have received your application.</p>

      <p>We will contact you by email:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>when we have assessed your application</li>
        <li>if we need more information</li>
      </ul>

      <p>You can also <a href="#">register another building</a> or <a href="#">give us structural and safety information for another block in the building</a>.</p>

      <p><a href="/service-feedback">What did you think of this service?</a> (takes 30 seconds)</p>

    </div>
  </div>

{% endblock %}
