{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Submit <!--(section 11 of 11)--></span>

      <h1 class="govuk-heading-l">Declaration</h1>

      <p>By submitting this information, you are confirming that:
      </p>

      <uL class="govuk-list govuk-list--bullet">
        <li>you have taken reasonable steps to find out the information</li>
        <li>to the best of your knowledge, the details you're giving are correct</li>
      </uL>

      <h2 class="govuk-heading-m">If you are submitting the information for the principal accountable person</h2>

      <p>By submitting this information, you're also confirming that the principal accountable person:</p>

      <uL class="govuk-list govuk-list--bullet">
        <li>instructed you in writing to submit the information for them</li>
        <li>gave you the details or they are the result of your own investigations</li>
      </uL>

      <p>We may ask you for written evidence that the principal accountable person has authorised you to submit this information for them.</p>

      <form class="form" action="/confirm" method="post">

        <button class="govuk-button" data-module="govuk-button">Declare and submit</button>

      </form>

    </div>

    <div class="govuk-grid-column-one-third">
      <span class="govuk-caption-m">
        <strong>{{ data['building-name'] }}</strong>
        <br>{{ data['building-address-line-1'] }}
        <br>{{ data['building-address-line-2'] }}
        <br>{{ data['building-postcode'] }}
      </span>
    </div>
    
  </div>

{% endblock %}
