{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service in development - do not take anything you see here as guidance.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- Caption for Building details questions -->
      <span class="govuk-caption-l">Building details of {{ data['building-name'] }}</span>

      <h1 class="govuk-heading-l">
        Height of 
        <!-- If the user has entered a section name, then show the section name. If the user hasn't entered a section name, then show the building name -->
        {% if data['block-name'] != "" %}
        {{ data['block-name'] }}
        {% endif %}
        {% if data['block-name'] == "" %}
        {{ data['building-name'] }}
        {% endif %}
      </h1>

      <h1 class="govuk-heading-l">
        Height of 
        <!-- Calls to the users answer to the more than one block question -->
        {% if data['more-than-one-block'] === "Multiple independent sections" %}
        {{ data['block-name'] }}
        {% endif %}
        {% if data['more-than-one-block'] === "Single independent section" %}
        {{ data['building-name'] }}
        {% endif %}
      </h1>

      <!-- Caption for Accoutnable persons questions -->
      <span class="govuk-caption-l">Accountable persons for {{ data['building-name'] }}</span>

      <h1 class="govuk-heading-l">
        Address of 
        <!-- Calls to the users answer to the pap type question -->
        {% if data['pap-type'] === "Organisation" %}
        {{ data['pap-org-name'] }}
        {% endif %}
        {% if data['pap-type'] === "Individual" %}
        {{ data['pap-individual-first-name'] }} {{ data['pap-individual-last-name'] }}
        {% endif %}
      </h1>

      <h1 class="govuk-heading-l">
        Address of 
        <!-- Calls to the users answer to the pap type question -->
        {% if data['ap-type'] === "Organisation" %}
        {{ data['ap-org-name'] }}
        {% endif %}
        {% if data['ap-type'] === "Individual" %}
        {{ data['ap-individual-first-name'] }} {{ data['ap-individual-last-name'] }}
        {% endif %}
      </h1>

      <!-- Caption for Pay and apply questions -->
      <span class="govuk-caption-l">Pay and apply for {{ data['building-name'] }}</span>

    </div>
  </div>

{% endblock %}
