{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-!-padding-bottom-5"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Microsoft_Office_Outlook_%282018–present%29.svg/826px-Microsoft_Office_Outlook_%282018–present%29.svg.png" width="40px"></div>

<p><strong>From:</strong> enquiries@hse.gov.uk
  <br><strong>To:</strong> {{ data['email'] }}
  <br><strong>Subject:</strong> Provide structure and safety information for {{ data['building-name'] }}
</p>

{% from "govuk/components/header/macro.njk" import govukHeader %}
{{ govukHeader({
  homepageUrl: "#"
}) }}

<div class="govuk-!-padding-bottom-5"></div>

<h1 class="govuk-heading-l">Provide structure and safety information for {{ data['building-name'] }}</h1>

<div class="govuk-inset-text">
  Your application number is <strong>BSR019388477</strong>.
</div>

<p>Provide this information at <a href="/returning-code">www.hse.gov.uk/registera-high-rise-building/continue</a>.</p>

<h2 class="govuk-heading-l">Why you got this email</h2>

<p>You applied to register a high-rise residential building with the Building Safety Regulator.</p> 

<p>From the Health and Safety Executive</p>

<p>You can <a href="/start">register another high-rise building</a> at any time.</p>

{% endblock %}
