{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Print or save structure and safety information for {% if data['more-than-one-block'] === "Multiple independent sections" %}
        {{ data['block-name'] }}
        {% endif %}
        {% if data['more-than-one-block'] === "Single independent section" %}
        {{ data['building-name'] }}
        {% endif %}</h1>

      <h2 class="govuk-heading-m">Application details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Application number
          </dt>
          <dd class="govuk-summary-list__value">
            BSR01234567890
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Building name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['building-name'] }}
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Fire and smoke controls</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Evacuation strategy
          </dt>
          <dd class="govuk-summary-list__value">
            Phased
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Smoke controls in residential parts
          </dt>
          <dd class="govuk-summary-list__value">
            Smoke detector heads
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Smoke controls in common parts
          </dt>
          <dd class="govuk-summary-list__value">
            Smoke detector heads
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Smoke detector head access
          </dt>
          <dd class="govuk-summary-list__value">
            Basement
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Residential front doors
          </dt>
          <dd class="govuk-summary-list__value">
            4 doors with no fire resistance
            <br>10 doors with 60-minute fire resistance
            <br>42 doors that fire resistance is not known
            <br>56 doors in total
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Fire doors in common parts
          </dt>
          <dd class="govuk-summary-list__value">
            5 doors with 60-minute fire resistance
            <br>9 doors with 120-minute fire resistance
            <br>16 doors in total
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Energy supply and storage</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Energy supplies
          </dt>
          <dd class="govuk-summary-list__value">
            Eco boiler
            <br>Electricity
            <br>Hydrogen battery
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Structural type and materials</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Structure type
          </dt>
          <dd class="govuk-summary-list__value">
            Modular
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Modular materials
          </dt>
          <dd class="govuk-summary-list__value">
            Composite
            <br>Metal
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Roof</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of roof surface
          </dt>
          <dd class="govuk-summary-list__value">
            Flat roof
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Roof insulation layer
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Main roof material
          </dt>
          <dd class="govuk-summary-list__value">
            Sheet materials
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Staircases</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Total staircases
          </dt>
          <dd class="govuk-summary-list__value">
            22
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Interior from ground floor
          </dt>
          <dd class="govuk-summary-list__value">
            14
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">External walls</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            External wall materials
          </dt>
          <dd class="govuk-summary-list__value">
            Composite panels
            <br>Glass
            <br>Masonry
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Composite material
          </dt>
          <dd class="govuk-summary-list__value">
            Metal composite panels
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Percentage coverage
          </dt>
          <dd class="govuk-summary-list__value">
            Metal composite panels: 70%
            <br>Glass: 20%
            <br>Masonry: 10%
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">External features</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Attached features
          </dt>
          <dd class="govuk-summary-list__value">
            Balconies
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Balconies materials
          </dt>
          <dd class="govuk-summary-list__value">
            Timber
            <br>Metal
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Uses at ground level and above</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Primary use
          </dt>
          <dd class="govuk-summary-list__value">
            Residential Dwelling
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Secondary uses
          </dt>
          <dd class="govuk-summary-list__value">
            <p>Residential (Other)</p>
            <p>Shop and Commercial</p>
          </dd>
        </div>
      </dl>
      
      <h2 class="govuk-heading-m">Uses below ground level</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Number of floors below ground level
          </dt>
          <dd class="govuk-summary-list__value">
            1
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Primary use of floors below ground level
          </dt>
          <dd class="govuk-summary-list__value">
            Residential Dwelling
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Changes since completion</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Change of use
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Year of change of use
          </dt>
          <dd class="govuk-summary-list__value">
            1984
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Previous primary use
          </dt>
          <dd class="govuk-summary-list__value">
            Office
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Material changes
          </dt>
          <dd class="govuk-summary-list__value">
            Asbestos removal
            <br>Changes to windows
            <br>Installation, replacement or removal of gas supply to building
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Year of most recent material change
          </dt>
          <dd class="govuk-summary-list__value">
            1992
          </dd>
        </div>
      </dl>

      <p><a href="#">Print this page</a></p>

      <p><a href="#">Save as a PDF</a></p>

    </div>
  </div>
{% endblock %}
