{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-!-padding-bottom-5"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Microsoft_Office_Outlook_%282018–present%29.svg/826px-Microsoft_Office_Outlook_%282018–present%29.svg.png" width="40px"></div>

<p><strong>From:</strong> Building Safety Regulator &lt;enquiries@hse.gov.uk&gt;
  <br><strong>To:</strong> {{ data['email'] }}
  <br><strong>Subject:</strong> Structure and safety information for {{ data['building-name'] }}
</p>

{% from "govuk/components/header/macro.njk" import govukHeader %}
{{ govukHeader({
  homepageUrl: "#"
}) }}

<div class="govuk-!-padding-bottom-5"></div>

<p>Dear Name,</p>

<p>You recently applied to register {{ data['building-name'] }} with the Building Safety Regulator (BSR). Your application reference is <strong>BSR019388477</strong>.</p>

<p>When you applied, we told you that we would contact you again when it was time for you to give us the information about {{ data['building-name'] }}'s structure and safety.</p>

<p>Please return to your application to give us the information: <a href="/returning-code">www.hse.gov.uk/register-a-high-rise-building/continue</a></p>

<p>You must give us the structure and safety information by <strong>30 October 2023</strong>.</p>

<p>From the Health and Safety Executive
  <br>The Building Safety Regulator in England
</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p>Do not reply to this email. It's an automatic message from an unmonitored account.</p>

{% endblock %}
