{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Name your blocks</h1>

      <form class="form" action="/questions/pap/pap-type" method="post">

        <h2 class="govuk-heading-l">In scope blocks</h2>

        <p>We need more information about these blocks because they are in scope. Please provide a name for each of them.</p>

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukInput({
          label: {
            text: "Name the first block",
            classes: "govuk-label--s",
            isPageHeading: true
          },
          hint: {
            text: "10 floors, 22 metres, 30 residential units, people are living in the block."
          },
          id: "event-name",
          name: "event-name"
        }) }}

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukInput({
          label: {
            text: "Name the second block",
            classes: "govuk-label--s",
            isPageHeading: true
          },
          hint: {
            text: "10 floors, 22 metres, 30 residential units, people will be living in the block."
          },
          id: "event-name",
          name: "event-name"
        }) }}

        <h2 class="govuk-heading-l">Out of scope blocks</h2>

        <p>We don't need any more information on these blocks because they are not in scope:</p>

        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Third block</th>
              <td class="govuk-table__cell">6 floors
                <br>22 metres
                <br>0 residential units
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Forth block</th>
              <td class="govuk-table__cell">15 floors
                <br>32 metres
                <br>50 resdiential units
                <br>People will not be living in the block
              </td>
            </tr>
          </tbody>
        </table>

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
