{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<span class="govuk-caption-xl">Check you need to register</span>

<h1 class="govuk-heading-xl">That building is not eligible to be registered</h1>

      <p>
        Based on your answers, that building is not eligible to be registered.
      </p>

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Check a new building",
        href: "/start",
        classes: "govuk-button--secondary"
      }) }}

    </div>
  </div>

{% endblock %}
