{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service in development - do not take anything you see here as guidance.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Pay and apply for {{ data['building-name'] }}</span>

      <h1 class="govuk-heading-l">Pay</h1>

      <p>You can use Visa, Visa Electron or Mastercard debit and credit cards.</p>

      {% from "govuk/components/table/macro.njk" import govukTable %}
      {{ govukTable({
        caption: "Order summary",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        rows:
        [
        [
          {
            text: "Building name"
          },
          {
            text: data['building-name']
          }
        ],
          [
            {
              text: "Total amount to pay"
            },
            {
              text: "£XXX.XX"
            }
          ]
        ]
      }) }}

      <form class="form" action="/registration-confirm" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
        {% call govukFieldset({
          legend: {
          }
        }) %}
          {{ govukInput({
            label: {
              text: 'Name on card',
              classes: "govuk-label--s"
            },
            id: "address-line-1",
            name: "address-line-1",
            hint: {
              text: "Your name as it appears on the front of your card"
            }
          }) }}

          {{ govukInput({
            label: {
              text: 'Card number',
              classes: "govuk-label--s"
            },
            classes: "govuk-input--width-20",
            id: "address-line-2",
            name: "address-line-2",
            hint: {
              text: "The long card number on the front of your card"
            }
          }) }}

          {{ govukInput({
            label: {
              text: "Expiry month",
              classes: "govuk-label--s"
            },
            classes: "govuk-input--width-2",
            id: "address-town",
            name: "address-town"
          }) }}

          {{ govukInput({
            label: {
              text: "Expiry year",
              classes: "govuk-label--s"
            },
            classes: "govuk-input--width-4",
            id: "address-town",
            name: "address-town"
          }) }}

          {{ govukInput({
            label: {
              text: "Security code",
              classes: "govuk-label--s"
            },
            classes: "govuk-input--width-3",
            id: "address-town",
            name: "address-town",
            hint: {
              text: "The 3 digit number on the back of your card"
            }
          }) }}

          <h2 class="govuk-heading-m">Billing address</h2>

          {{ govukInput({
            label: {
              text: "Address line 1",
              classes: "govuk-label--s"
            },
            id: "billing-address-line-1",
            name: "billing-address-line-1",
            value: data['billing-address-line-1']
          }) }}
  
          {{ govukInput({
            label: {
              text: "Address line 2",
              classes: "govuk-label--s"
            },
            id: "billing-address-line-2",
            name: "billing-address-line-2",
            value: data['billing-address-line-2']
          }) }}
  
          {{ govukInput({
            label: {
              text: "Postcode",
              classes: "govuk-label--s"
            },
            classes: "govuk-input--width-10",
            id: "billing-postcode",
            name: "billing-postcode",
            value: data['billing-postcode']
          }) }}
          
        {% endcall %}

        <p><a href="#">Find a postcode on Royal Mail's postcode finder</a></p>

        <button class="govuk-button" data-module="govuk-button">Pay and submit</button>

      </form>

      <p>Card information is transferred in accordance with our security statement and is held in accordance with our privacy statement. See our <a href="#">terms and conditions</a> for further information.</p>

      <p><a href="#">Save and come back later</a></p>

    </div>
  </div>

{% endblock %}
