{% extends "layouts/main.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service in development - do not take anything you see here as guidance.'
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Register {{ data['building-name'] }}
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>

      <p>You have completed 0 of 3 sections.</p>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Returning to this application</h2>
      
      <p class="govuk-!-margin-bottom-2">
        We will save the information you give to us on each page.
      </p>

      <p class="govuk-body govuk-!-margin-bottom-7">
        Your application number and instructions on how to return later have been sent to <strong>{{ data['email'] }}</strong>.
      </p>


      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Prepare your application
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/questions/blocks/more-than-one-block" aria-describedby="eligibility-status">
                  Building summary
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  Accountable persons
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Submit your application
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Pay and apply
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>
      </ol>

      <p>After you have paid the fee and applied, you will be asked for more detailed information on your building.</p>

    </div>
  </div>

{% endblock %}
