{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service in development - do not take anything you see here as guidance.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Apply and pay the fee</span>

      <h1 class="govuk-heading-xl">Declaration</h1>

      <p>By submitting this application, you are confirming that the details you are providing are correct.</p>

      <p>You must not give false or misleading information to the Building Safety Regulator. Knowingly or recklessly giving false or misleading information is a criminal offence punishable by up to 2 years in prison.</p>

      <h2 class="govuk-heading-l">If you are authorised to act for the principal accountable person</h2>

      <p>By submitting this application, you are also confirming that:</p>

      <uL class="govuk-list govuk-list--bullet">
        <li>the principal accountable person (PAP) has instructed you in writing to make this application on their behalf</li>
        <li>the PAP gave you the details or they are the result of your own investigations</li>
        <li>you have explained to the PAP that it is a criminal offence to give false or misleading information to the Building Safety Regulator</li>
      </uL>

      <p>We may ask you for written evidence that the principal accountable person has authorised you to act for them.</p>

      <form class="form" action="/pay" method="post">

        <button class="govuk-button" data-module="govuk-button">Declare and continue</button>

      </form>

      <p><a href="#">Save and exit this application</a></p>

    </div>
  </div>

{% endblock %}
