{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service in development - do not take anything you see here as guidance.'
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Registration application submitted for {{ data['building-name'] }}</h1>

      <p>Your payment reference number is: <strong>PSH29HQ07J</strong></p>

      <p>
        We've emailed your payment reference to <b>{{ data['email'] }}</b>. If you cannot find the email, check your junk or spam folders.
      </p>

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Launch emails",
        href: "/registration-submitted-email",
        classes: "govuk-button--secondary"
      }) }}

      <p>If you did not get the email, <a href="/contact">contact us</a>.</p>

      <p>We have also sent an email to the principal accountable person that outlines their duties at this stage.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>We'll look at your application and contact you when we have made a decision.</p>

      <p>We may also contact you if we need further information.</p>
      
      <p>We're registering all the high-rise buildings in England. This is likely to take several months. So you might not hear from us for a while. Do not worry. We have your application.</p>

      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
      {{ govukWarningText({
        text: "You must give us structural and safety information for [building-name] by 30 September 2023.",
        iconFallbackText: "Warning"
      }) }}

      <form class="form" action="/kbi-task-list" method="post">

        <button class="govuk-button" data-module="govuk-button">Continue to structural and safety information</button>

      </form>

      <p>Alternatively, you can <a href="#">pay for any outstanding buildings</a> or <a href="#">register another building</a>.</p>

    </div>
  </div>

{% endblock %}
