{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service in development - do not take anything you see here as guidance.'
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Registration application submitted for {{ data['building-name'] }}</h1>

      <p>Your payment reference number is: <strong>PSH29HQ07J</strong></p>

      <p>
        We've emailed your payment reference to <b>{{ data['email'] }}</b>. If you cannot find the email, check your junk or spam folders.
      </p>

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Launch emails",
        href: "/registration-submitted-email",
        classes: "govuk-button--secondary"
      }) }}

      <p>If you did not get the email, <a href="/contact">contact us</a>.</p>

      {% from "govuk/components/details/macro.njk" import govukDetails %}
      {{ govukDetails({
        summaryText: "What happens to my registration request?",
        text: "We'll reach out to you if we have any queries regarding your registration application."
      }) }}

      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
      {{ govukWarningText({
        text: "You must give us structural and safety information for Acme House by 28th October 2023.",
        iconFallbackText: "Warning"
      }) }}

      <form class="form" action="/kbi-task-list" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "where-do-you-live",
          fieldset: {
            legend: {
              text: "Would you like to complete structural and safety information now?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "england",
              text: "Yes"
            },
            {
              value: "scotland",
              text: "No"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

      <p>Alternatively, you can <a href="#">pay for any outstanding buildings</a> or <a href="#">register another building</a>.</p>

    </div>
  </div>

{% endblock %}
