{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Returning to a saved application</h1>

      <p>When this registration was started an email was sent to the registrant which contained a reference ID. If that email or reference ID is no longer available to you, call the building safety regulation team on XXXXX XXXXXX and they can reissue it to you.</p>

      <p>The same reference ID emailed can be used for either returning to an incomplete registration or incomplete further building information.</p>

      <form class="form" action="/returning-code-answer" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukInput({
          label: {
            text: "Return code",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          id: "returning-code",
          name: "returning-code"
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
