{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-!-padding-bottom-5"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Microsoft_Office_Outlook_%282018–present%29.svg/826px-Microsoft_Office_Outlook_%282018–present%29.svg.png" width="40px"></div>

<p><strong>From:</strong> enquiries@hse.gov.uk
  <br><strong>To:</strong> {{ data['email'] }}
  <br><strong>Subject:</strong> Register {{ data['building-name'] }} return code
</p>

{% from "govuk/components/header/macro.njk" import govukHeader %}
{{ govukHeader({
  homepageUrl: "#"
}) }}

<div class="govuk-!-padding-bottom-5"></div>

<h1 class="govuk-heading-xl">Your application to register {{ data['building-name'] }}</h1>

<p>Your return code is <strong>BSR019388477</strong></p>

<p>To return to your application go to <a href="#">www.hse.gov.uk/register-a-high-rise-building/return</a> and enter this code.</p>

<h2 class="govuk-heading-l">Why you recieved this email</h2>

<p>You started an application to register a high-rise building with the Building Safety Regulator.</p>

<p>You can <a href="#">register another high-rise building</a> at any time.</p>

<p>From the Health and Safety Executive</p>

  {% from "govuk/components/button/macro.njk" import govukButton %}
  {{ govukButton({
    text: "Return to service",
    href: "/questions/contact-details/email-code",
    classes: "govuk-button--secondary"
  }) }}

{% endblock %}
