{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-!-padding-bottom-5"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Microsoft_Office_Outlook_%282018–present%29.svg/826px-Microsoft_Office_Outlook_%282018–present%29.svg.png" width="40px"></div>

<p><strong>From:</strong> enquiries@hse.gov.uk
  <br><strong>To:</strong> {{ data['email'] }}
  <br><strong>Subject:</strong> Register a high-rise building security code
</p>

{% from "govuk/components/header/macro.njk" import govukHeader %}
{{ govukHeader({
  homepageUrl: "#"
}) }}

<div class="govuk-!-padding-bottom-5"></div>

<h1 class="govuk-heading-l">Security code</h1>

<p>Your security code is <strong>648092</strong></p>

<p>To verify your email address, enter this security code into your application.

<p>This code will expire in 1 hour.</p>

<h2 class="govuk-heading-m">Why you received this email</h2>

<p>You started or returned to an application to register a high-rise building with the Building Safety Regulator.</p>

<p>You can register another high-rise building at any time at <a href="#">www.hse.gov.uk/register-a-high-rise-building</a>.</p>

<p>From the Health and Safety Executive</p>

  {% from "govuk/components/button/macro.njk" import govukButton %}
  {{ govukButton({
    text: "Return to service",
    href: "/questions/contact-details/email-code",
    classes: "govuk-button--secondary"
  }) }}

{% endblock %}
