{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
      tag: {
        text: "prototype"
      },
      html: 'This is a new service in development - do not take anything you see here as guidance.'
    }) }}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Building Safety Regulator</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Register a high-rise building</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-xl">
        Register a high-rise residential building for someone over the phone
      </h1>

      <p>Use this service to apply to register a high-rise residential building in England on behalf of someone else.</p>

      <p>This is only to be used by internal operations staff of the Building Safety Regulator.</p>

      <form class="form" action="#" method="post">

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Start now",
          href: "/returning-boolean",
          isStartButton: true
        }) }}

      </form>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Building Safety Act 2022
              </a>
            </li>
            <li>
              <a href="#">
                Check who is the principal accountable person
              </a>
            </li>
            <li>
              <a href="#">
                Work out if your building has multiple high-rise residential structures
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
