{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
      tag: {
        text: "prototype"
      },
      html: 'This is a new service in development - do not take anything you see here as guidance.'
    }) }}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Building Safety Regulator</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Register a high-rise building</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-xl">
        Register a high-rise residential building
      </h1>

      <p>Use this service to apply to register a high-rise residential building in England.</p>

      <p>If you are the principal accountable person for a building, or the principal accountable person has authorised you to act for them, you can use this service to:</p>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>apply to the register the building</li>
        <li>continue an application you started previously</li>
      </ul>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with principal accountable person
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>The principal accountable person is the person or organisation who owns or has responsibility for the building.</p>
          <p>If the building has more than one accountable person, then the accountable person for the external common parts of the building will be the principal accountable person.</p>
        </div>
      </details>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>A high-rise residential structure has:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>at least 7 floors or is at least 18 metres in height</li>
        <li>at least 2 residential units</li>
      </ul>

      <p>A high-rise residential building can contain 1 or more high-rise residential structures.</p>

      <p>Apply to register 2 or more structures as a single building when they're connected by either:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>a walkway, lobby or basement, that contains a residential unit</li>
        <li>a wall containing normal use doors</li>
      </ul>

      <p>If the structures are not connected in this way, register them as different buildings.</p>

      <p>You must tell us the following information about the building:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the number of floors at or above ground level</li>
        <li>its height in metres</li>
        <li>the number of residential units</li>
        <li>the year it was originally built</li>
        <li>its address or addresses</li>
      </ul>

      <p>If your building is made up of more than 1 high-rise residential structure, you must tell us this information for each structure.</p>

      <p>You will also be asked about the principal accountable person and any other accountable persons.</p>

      <p>To complete your application, you must declare that all the information you have told us is correct.</p>

      <p>Then you must pay for the application.</p>

      <p>After you have paid, we will then ask you for more detailed structure and safety information about the building.</p>

      <p>Once you have started you'll have until 30 September 2023 to complete your application, and give us all the information we need to know about the building.</p>

      <p>You can save your application and return to it at any time.</p>

      <p>You can use this service as many times as you need. But you can only give us information about 1 building at a time.</p>

      <p>This service costs £--- per building. You will need to pay by credit or debit card.</p>

      <a href="/returning-boolean" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">If you need help using this service</h2>

      <p><a href="/contact">Contact us</a> if you need help with your application to register a high-rise residential building.</p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Building Safety Act 2022
              </a>
            </li>
            <li>
              <a href="#">
                Check who is the principal accountable person
              </a>
            </li>
            <li>
              <a href="#">
                Work out if your building has multiple high-rise residential structures
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
