{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Building Safety Regulator</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Register a high-rise building</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %} 
      </h1>

      <p>Use this service to apply to register a high-rise building.</p>

      <p>If you are (or are authorised to act for) the principal accountable person for a building, you can use this service to:</p>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>check if you need to register the building</li>
        <li>apply to the register the building</li>
        <li>continue an application you started previously</li>
        <li>give us structural information about the building before BSR has approved the buildings registration</li>
      </ul>

<!--      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with principal accountable person
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>The principal accountable person is the sole person responsible for the building.</p>
          <p>Other accountable persons can be responsbile for particular areas of the building.</p>
        </div>
      </details>
      -->

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>Once you've started you'll have until 30 September 2023 to complete your application and give us all the inforamtion we need to know about the building.</p>

      <p>You'll be asked for the number of floors above ground level. You'll also be asked for the height of the building above ground level in metres.</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with the floors to count
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>You'll need to count all floors from ground level to the top of the building. Include:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the floor at ground level</li>
            <li>mezzanine floors that are at least half the largest floor area you have counted in the rest of the building</li>
            <li>the roof - unless it is only used for machinery or as a plant area</li>
          </ul>
          <p>Do not count floors that are:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>below ground level</li>
            <li>only used for machinery or plant rooms</li>
          </ul>
        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with ground level
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>Ground level is the level of land immediately next to the building. If that land is uneven, it is the lowest part of the land immediately next to the building.</p>
          <p>Any ceiling below that level is below ground level.</p>
        </div>
      </details>

      <p>You'll also need to count the bumber of residential units and whether any of these are occupied.</p>

      <p>When we have checked that you need to regsiter this building, we will ask you for <a href="#">more information about the building and the dutyholders</a>.</p>

      <p>You can use this service as many times as you need. But you can only give us information about 1 building at a time.</p>

      <p>This service costs £--- per building. You can pay by credit or debit card.</p>

      <a href="/returning-boolean" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Guidance
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Building Safety Act 2022
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
