{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Check your answers before continuing</h1>

      <h2 class="govuk-heading-m">Uses at ground level and above</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Primary use
          </dt>
          <dd class="govuk-summary-list__value">
            Residential Dwelling
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/uses-above/primary-use.html">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <!--
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Change of use
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/use-previous/previous-primary-use-boolean.html">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Year of change of use
          </dt>
          <dd class="govuk-summary-list__value">
            1984
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/use-previous/previous-primary-use-year.html">
              Change
              <span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Previous primary use
          </dt>
          <dd class="govuk-summary-list__value">
            Office
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/use-previous/previous-use.html">
              Change
              <span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
        -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Secondary uses
          </dt>
          <dd class="govuk-summary-list__value">
            <p>Residential (Other)</p>
            <p>Shop and Commercial</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/uses-above/secondary-uses.html">
              Change
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
      </dl>
      
      <h2 class="govuk-heading-m">Uses below ground level</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Number of floors below ground level
          </dt>
          <dd class="govuk-summary-list__value">
            1
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/use-below/floors-below-ground-level.html">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Primary use of floors below ground level
          </dt>
          <dd class="govuk-summary-list__value">
            Residential Dwelling
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/questions/use-below/floors-below-primary-use">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
      </dl>

      <form action="/questions/use-previous/previous-primary-use-boolean" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

      </form>

    </div>
  </div>
{% endblock %}
