{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service in development - do not take anything you see here as guidance.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Tell us about each high-rise residential structure in {{ data['building-name'] }}
      </h1>

      <p>A high-rise residential structure has:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>at least 7 floors or is at least 18 metres in height</li>
        <li>at least 2 residential units</li>
      </ul>

      <p>We will ask you for information 1 structure at a time. You can tell us about the other structures later.</p>

      <p>For each structure, you must tell us:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the name of the structure</li>
        <li>the number of floors at or above ground level</li>
        <li>the height from ground level to the top floor</li>
        <li>the number of residential units</li>
        <li>if people are living in it</li>
        <li>the year it was originally built and ready for people to live in it</li>
        <li>its address</li>
        <li>if it has any other addresses</li>
      </ul>

      <a href="/questions/blocks/block-name" role="button" draggable="false" class="govuk-button data-module="govuk-button">
        Continue
      </a>

      <p><a href="/register-task-list">Save and come back later</a></p>

    </div>

  </div>
{% endblock %}
