{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service in development - do not take anything you see here as guidance.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Building details of {{ data['building-name'] }}</span>

      <h1 class="govuk-heading-l">
        Tell us about each of the independent sections in this building
      </h1>

      <p>An independent section is a collection of units in the building that share a main entrance, or can only be accessed by crossing a party wall, walkway, shared lobby or basement. </p>

      <p>These independent sections may have different names. For example, 'Hawthorn Shopping Centre' and 'Primrose Apartments'.</p>

      <p>We will ask you for information one section at a time. You can tell us about the other sections later.</p>

      <a href="/questions/blocks/block-name" role="button" draggable="false" class="govuk-button data-module="govuk-button">
        Continue
      </a>

    </div>

  </div>
{% endblock %}
