{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Structure type of floors added to 
        {% if data['more-than-one-block'] === "Multiple independent sections" %}
        {{ data['block-name'] }}
        {% endif %}
        {% if data['more-than-one-block'] === "Single independent section" %}
        {{ data['building-name'] }}
        {% endif %}
      </h1>

      <p>This is not a complete list. It includes only the structure types we need to know about.
      </p>

      <p>Select all that apply.</p>

      <form class="form" action="/questions/mat-changes/material-changes-year-options" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        {{ govukCheckboxes({
          name: "countries",
          fieldset: {
            legend: {
            }
          },
          items: [
          {
            text: "Composite steel and concrete"
          },
          {
            value: "portugal",
            text: "Concrete large panel system - 1960s"
          },
          {
            value: "portugal",
            text: "Concrete large panel system - 1970 onwards"
          },
          {
            value: "portugal",
            text: "Modular - concrete"
          },
          {
            value: "portugal",
            text: "Concrete - other"
          },
          {
            text: "Lightweight metal structure, like aluminium"
          },
          {
            value: "portugal",
            text: "Masonry"
          },
          {
            text: "Modular - steel"
          },
          {
            value: "spain",
            text: "Steel frame"
          },
          {
            value: "spain",
            text: "Modular - other metal"
          },
          {
            value: "spain",
            text: "Modular - timber"
          },
          {
            value: "spain",
            text: "Timber"
          },
          {
            divider: "or"
          },
          {
            value: "none",
            text: "None of these",
            behaviour: "exclusive"
          }
        ]
      }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      <p><a href="/kbi-task-list-return">Save and come back later</a></p>

      </form>

    </div>
    
  </div>

{% endblock %}
