{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Building works since 
        {% if data['more-than-one-block'] === "Multiple independent sections" %}
        {{ data['block-name'] }}
        {% endif %}
        {% if data['more-than-one-block'] === "Single independent section" %}
        {{ data['building-name'] }}
        {% endif %} was originally built</h1>

      <p>This is not a complete list. It includes only the building works we need to know about. You will have needed a building control application to carry out any of these building works.</p>

      <form class="form" action="/questions/mat-changes/material-changes-extra-floors" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        {{ govukCheckboxes({
          name: "secondary-uses",
          fieldset: {
            legend: {
              text: "Building works",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "Select all that apply (even if there has only been a partial change)"
          },
          items: [
            {
              value: "assembly-and-recreation",
              text: "Asbestos removal and remediation on multiple floors"
            },
            {
              text: "Balconies added"
            },
            {
              value: "office",
              text: "Change in number of floors"
            },
            {
              value: "residential-dwelling",
              text: "Changes in number of residential units"
            },
            {
              value: "residential-institution",
              text: "Changes in number or location of staircase cores"
            },
            {
              value: "residential-other",
              text: "Changes to windows"
            },
            {
              value: "shop-and-commercial",
              text: "Complete rewiring of buildings or floors"
            },
            {
              value: "storage-and-other-non-residential",
              text: "Installation, replacement or removal of active or passive fire systems"
            },
            {
              value: "storage-and-other-non-residential",
              text: "Installation, replacement or removal of emergency or other lighting"
            },
            {
              value: "storage-and-other-non-residential",
              text: "Installation, replacement or removal of cold water systems in multiple residential units"
            },
            {
              value: "storage-and-other-non-residential",
              text: "Installation, replacement or removal of heating or hot water system in multiple residential units"
            },
            {
              value: "storage-and-other-non-residential",
              text: "Installation, replacement or removal of gas supply to building"
            },
            {
              text: "Reinforcement works to large panel system structure"
            },
            {
              text: "Work connected to external walls",
              hint: {
                text: "Includes replacement of cavity barriers, insulation or cladding (like ACM)."
              }
            },
            {
              text: "Other structural enhancement or modification",
              hint: {
                text: "Only include building works that needed a building control application."
              }
            },
            {
              divider: "or"
            },
            {
              value: "storage-and-other-non-residential",
              text: "None of these"
            },
            {
              divider: "or"
            },
            {
              value: "storage-and-other-non-residential",
              text: "Not known"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

        <p><a href="/kbi-task-list-return">Save and come back later</a></p>

      </form>

    </div>
    
  </div>

{% endblock %}
