{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Check you can register</span>

      <h1 class="govuk-heading-xl">Who are you?</h1>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with principal accountable person
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>The principal accountable person is the person or organisation who owns or has responsibility for the building.</p>
          <p>If the building has more than one accountable person, then the accountable person responsible for the structure and exterior of the building will be the principal accountable person.</p>
        </div>
      </details>

      <form class="form" action="/questions/block-pap/blocks" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "are-you-the-pap",
          value: data['are-you-the-pap'],
          fieldset: {
            legend: {
            }
          },
          items: [
            {
              value: "I am the principal accountable person",
              text: "I am the principal accountable person",
              hint: {
                text: "This includes being part of the organisation who owns or has responsibility for the building"
              }
            },
            {
              value: "I am an agent acting on behalf of the principal accountable person",
              text: "I am an agent acting on behalf of the principal accountable person",
              hint: {
                text: "Agents must have written permission from the principal accountable person to register a building on their behalf"
              }
            },
            {
              value: "I am a staff member of BSR, registering on behalf of someone on the phone",
              text: "I am a staff member of BSR, registering on behalf of someone on the phone"
            },
            {
              divider: "or"
            },
            {
              value: "I am none of the above",
              text: "I am none of the above"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
