{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Count the connected blocks in the building</h1>

      <p>This is will help us understand where a fire could spread to.</p>

      <p>Blocks could be connected by a walkway, lobby, basement, party wall or party floor.</p>

      <p><b>Include:</b></p>

      <ul class="govuk-list govuk-list--bullet">
        <li>any blocks in the building you are accountable for</li>
        <li>any blocks connected to these blocks, even if you're not accountable for them</li>
        <li>all subsequently connected blocks</li>
      </ul>

      <p><b>Don't include:</b></p>

      <ul class="govuk-list govuk-list--bullet">
        <li>blocks that aren't connected</li>
        <li>the connections</li>
      </ul>

      <form class="form" action="/check-answers-block-pap" method="post">

        {{ govukInput({
          label: {
            text: "Number of blocks",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-3",
          id: "number-of-blocks",
          name: "number-of-blocks",
          value: data['number-of-blocks']
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
