{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-!-padding-bottom-5">
        <span class="govuk-caption-m">
          <strong>{{ data['building-name'] }}</strong>
        </span>
      </div>

      <span class="govuk-caption-xl">Check you can register</span>

      <h1 class="govuk-heading-xl">Check if your structure is a building with multiple blocks</h1>

      <form class="form" action="/check-answers-block-pap" method="post">

        {{ govukInput({
          label: {
            text: "How many blocks are in the building?",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-3",
          id: "number-of-blocks",
          name: "number-of-blocks",
          value: data['number-of-blocks']
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
